# Ignoring node modules and parcel cache
.parcel-cache
node_modules
.vscode
.DS_Store
*.css.map
broken_links
final_broken
.spin
# The search index is generated at time of deploy
static/data.json
static/hub-index-data.json
# The build version of spin up hub
spin-up-hub/dist/
# The documentation migration backup files
migration_scripts/content_backup/
# The python compiled files
migration_scripts/__pycache__
migration_scripts/*.py[cod]
