spin_manifest_version = "1"
name = "fermyon-developer"
version = "0.1.0"
description = "The Fermyon Developer website running on... Spin."
authors = [ "Fermyon Engineering <engineering@fermyon.com>" ]
trigger = { type = "http", base = "/" }

[[component]]
source = "modules/bartholomew.wasm"
id = "bartholomew"
environment = { PREVIEW_MODE = "0" }
files = [ "content/**/*" , "templates/*", "scripts/*", "config/*", "shortcodes/*"]
[component.trigger]
route = "/..."

[[component]]
source = "modules/spin_static_fs.wasm"
id = "fileserver_static"
files = [ { source = "static/", destination = "/" } ]
[component.trigger]
route = "/static/..."

[[component]]
source = "modules/spin_static_fs.wasm"
id = "fileserver_downloads"
files = [ { source = "downloads/", destination = "/" } ]
[component.trigger]
route = "/downloads/..."

# Redirect /spin to /spin/index
[[component]]
id = "redirect-spin-index"
source = "modules/redirect.wasm"
environment = { DESTINATION = "/spin/index" }
[component.trigger]
route = "/spin"
executor = { type = "wagi" }

# Redirect /cloud to /cloud/index
[[component]]
id = "redirect-cloud-index"
source = "modules/redirect.wasm"
environment = { DESTINATION = "/cloud/index" }
[component.trigger]
route = "/cloud"
executor = { type = "wagi" }

# Redirect /bartholomew to /bartholomew/index
[[component]]
id = "redirect-bartholomew-index"
source = "modules/redirect.wasm"
environment = { DESTINATION = "/bartholomew/index" }
[component.trigger]
route = "/bartholomew"
executor = { type = "wagi" }

# Redirect /spin/rust-components/http-trigger to /spin/http-trigger
[[component]]
id = "redirect-spin-rust-components-http-trigger"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/http-trigger" }
[component.trigger]
route = "/spin/rust-components/http-trigger"
executor = { type = "wagi" }

# Redirect /spin/contributing/extending-and-embedding to /spin/extending-and-embedding
[[component]]
id = "spin-contributing-extending-and-embedding"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/extending-and-embedding" }
[component.trigger]
route = "/spin/contributing/extending-and-embedding"
executor = { type = "wagi" }

# Redirect /spin/rust-components/redis-trigger to /spin/redis-trigger
[[component]]
id = "spin-rust-components-redis-trigger"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/redis-trigger" }
[component.trigger]
route = "/spin/rust-components/redis-trigger"
executor = { type = "wagi" }

# Redirect /spin/configuration to /spin/writing-apps
[[component]]
id = "spin-configuration"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/writing-apps" }
[component.trigger]
route = "/spin/configuration"
executor = { type = "wagi" }

# Redirect /spin/configuration/http-trigger to /spin/http-trigger
[[component]]
id = "spin-configuration-http-trigger"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/http-trigger" }
[component.trigger]
route = "/spin/configuration/http-trigger"
executor = { type = "wagi" }

# Redirect /spin/configuration/redis-trigger to /spin/redis-trigger
[[component]]
id = "spin-configuration-redis-trigger"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/redis-trigger" }
[component.trigger]
route = "/spin/configuration/redis-trigger"
executor = { type = "wagi" }

# Redirect /spin/quickstart/developing to /spin/quickstart
[[component]]
id = "spin-quickstart-developing"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/quickstart" }
[component.trigger]
route = "/spin/quickstart/developing"
executor = { type = "wagi" }

# Redirect /spin/quickstart/configuration to /spin/writing-apps
[[component]]
id = "spin-quickstart-configuration"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/writing-apps" }
[component.trigger]
route = "/spin/quickstart/configuration"
executor = { type = "wagi" }

# Redirect /spin/quickstart/install to /spin/install
[[component]]
id = "spin-quickstart-install"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/install" }
[component.trigger]
route = "/spin/quickstart/install"
executor = { type = "wagi" }

# Redirect /spin/quickstart/go-components to /spin/go-components
[[component]]
id = "spin-quickstart-go-components"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/go-components" }
[component.trigger]
route = "/spin/quickstart/go-components"
executor = { type = "wagi" }

# Redirect /spin/quickstart/rust-components to /spin/rust-components
[[component]]
id = "spin-quickstart-rust-components"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/rust-components" }
[component.trigger]
route = "/spin/quickstart/rust-components"
executor = { type = "wagi" }

# Redirect /spin/contributing/ to spin/contributing-spin
[[component]]
id = "spin-contributing"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/contributing-spin" }
[component.trigger]
route = "/spin/contributing/"
executor = { type = "wagi" }

# Redirect /spin/contributing/ to spin/contributing-spin
[[component]]
id = "spin-kv-store-tutorial"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/kv-store-tutorial" }
[component.trigger]
route = "/spin/kv-store"
executor = { type = "wagi" }


# Redirecting from common to spin incase someone had it bookmarked before removal of common
[[component]]
id = "redirect-contributing-common-to-spin"
source = "modules/redirect.wasm"
environment = { DESTINATION = "https://developer.fermyon.com/spin/cli-reference" }
[component.trigger]
route = "/common/cli-reference"
executor = { type = "wagi" }
