@charset "UTF-8";
/* FERMYON SHINY VENEER
=======================
For the benefit of browser-based experiences, websites and application user 
interfaces. This Sass file should be compiled to a CSS stylesheet and served 
after a base framework such as Bulma, Bootstrap or similar base grid system.

to generate to css:
https://sass-lang.com/install 

then run:
sass --watch static/sass/styles.scss static/css/style.css --style compressed


TABLE OF CONTENTS
================= */
/* FERMYON SHINY VENEER
=======================
For the benefit of browser-based experiences, websites and application user 
interfaces. This Sass file should be compiled to a CSS stylesheet and served 
after a base framework such as Bulma, Bootstrap or similar base grid system.

to generate to css:
https://sass-lang.com/install 

then run:
sass --watch static/sass/styles.scss static/css/style.css --style compressed


TABLE OF CONTENTS
=================
0.1. Brand Colors
0.2. Variables and Mixins
0.3. Global Layout
0.4. Typography
*/
/* 1.
   Brand Colors
*/
.is-primary, .has-text-primary {
  color: #0D203F !important;
}

.is-link, .has-text-link {
  color: #0a68a1 !important;
}

.is-info, .has-text-info {
  color: #a180d9 !important;
}

.is-success, .has-text-success {
  color: #18907b !important;
}

.is-warning, .has-text-warning {
  color: #EF946C !important;
}

.is-danger, .has-text-danger {
  color: #c64b16 !important;
}

.is-dark, .has-text-dark {
  color: #213762 !important;
}

.is-light, .has-text-light {
  color: #b69cc0 !important;
}

.button.is-primary, .tag.is-primary, .message.is-primary {
  background-color: #18d1a5;
  color: white !important;
}
.button.is-secondary, .tag.is-secondary, .message.is-secondary {
  background-color: #315292;
  color: white !important;
}
.button.is-link, .tag.is-link, .message.is-link {
  background-color: #0a68a1 !important;
  color: white !important;
}
.button.is-info, .tag.is-info, .message.is-info {
  background-color: #a180d9 !important;
  color: white !important;
}
.button.is-success, .tag.is-success, .message.is-success {
  background-color: #18907b !important;
  color: white !important;
}
.button.is-warning, .tag.is-warning, .message.is-warning {
  background-color: #EF946C !important;
  color: white !important;
}
.button.is-danger, .tag.is-danger, .message.is-danger {
  background-color: #c64b16 !important;
  color: white !important;
}
.button.is-dark, .tag.is-dark, .message.is-dark {
  background-color: #213762;
  color: white !important;
}
.button.is-light, .tag.is-light, .message.is-light {
  background-color: #b69cc0;
  color: #0D203F !important;
}

.content .is-active, .content .is-current {
  color: white;
  background-color: #213762;
}

/* 2.
   Variables and Mixins
*/
/* 3.
   Global Base
*/
html {
  height: 100%;
  background-color: transparent;
}

body,
main {
  min-height: 100vh;
  position: relative;
}

body {
  background: #f7f4f8;
  min-height: 100vh;
}

main {
  padding: 5.75rem 0 0;
  min-height: 100vh;
  margin-bottom: -12rem;
  z-index: 100;
}

#topbar.navbar {
  background: #f7f4f8;
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.98);
  will-change: transform;
  transition: transform 200ms linear;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}
#topbar.navbar .navbar-burger {
  width: 5.25rem;
  height: 5.25rem;
}
#topbar.navbar.is-wide {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
#topbar.navbar .dark-mode {
  position: absolute;
  right: 0;
  top: 2rem;
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5;
  fill: #345995;
}
#topbar.navbar.headroom--pinned {
  margin: 0;
  transform: translateY(0%);
}
#topbar.navbar.headroom--unpinned {
  transform: translateY(-100%);
}
@keyframes halfSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(180deg);
    opacity: 1;
  }
  38% {
    opacity: 0.75;
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
    opacity: 1;
  }
  88% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}
#topbar.navbar .logo {
  display: inline-block;
  margin-top: 0;
  fill: #0D203F;
  position: relative;
  margin-top: 0.35em;
}
#topbar.navbar .logo svg {
  max-height: 1.25rem;
  max-width: 10.625rem;
  cursor: pointer;
  position: relative;
  z-index: 500;
  fill: #0D203F;
}
#topbar.navbar .logo:hover .spin-back {
  background-color: white;
}
#topbar.navbar .logo .spin-front {
  width: 1.133rem;
  height: 1.133rem;
  display: inline-block;
  position: absolute;
  top: 1.25rem;
  right: 1.9125rem;
  border-radius: 50%;
  z-index: 600;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#topbar.navbar .logo .spin-front em {
  width: 0.425rem;
  height: 0.425rem;
  display: inline-block;
  top: 0rem;
  right: 0.05rem;
  background: #28FFCC;
  position: absolute;
  z-index: 700;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
#topbar.navbar .logo .spin-back {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-block;
  position: absolute;
  top: 1.295rem;
  right: 1.875rem;
  border-radius: 50%;
  z-index: 400;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
#topbar.navbar:hover .logo .spin-front {
  animation: 4s ease infinite halfSpin;
}
#topbar.navbar .logo-project {
  font-weight: bold;
  margin: 2rem 0 0 1.3335rem;
  font-size: 1.125rem;
}
#topbar.navbar .logo-project a {
  color: #213762;
}
#topbar.navbar .logo-project .tag {
  margin: -0.5rem 0 0 0.67rem;
  position: relative;
}
#topbar.navbar a.navbar-item {
  line-height: 3;
  background: transparent;
  font-weight: 700;
}
#topbar.navbar .navbar-menu a {
  margin-left: 2vw;
  position: relative;
  color: #0D203F;
  letter-spacing: 0.025em;
  transition: all 0.3s ease-in-out;
}
#topbar.navbar .navbar-menu a em {
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: -0.15rem;
  height: 0.333rem;
  opacity: 0;
  background-color: #34E8BD;
  display: inline-block;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  transition: all 0.3s ease-in-out;
  content: " ";
}
#topbar.navbar .navbar-menu a:hover em {
  left: 25%;
  right: 25%;
  opacity: 1;
}
#topbar.navbar .navbar-menu .button {
  color: #15ba93;
  border-color: #34E8BD;
  margin: 1rem 0 0 2.5rem;
  transition: all 0.3s ease-in-out;
}
#topbar.navbar .navbar-menu .button:hover {
  color: #119878;
  background-color: white !important;
}

.menu-wrap {
  padding: 0 2.5vw;
  width: 17rem;
  background: #f7f4f8;
}
@media screen and (min-width: 1024px) {
  .menu-wrap.is-fixed-desktop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17.5vw;
    background: #f7f4f8;
  }
}
@media screen and (max-width: 1023px) {
  .menu-wrap.is-fixed-desktop {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu-wrap.is-sticky {
    position: sticky;
    left: 2.5vw;
    top: 0;
    width: 15rem;
    padding-left: 0.67rem;
    bottom: 0;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    background: #f7f4f8;
  }
}

aside.menu {
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-top: 6.5rem;
  min-width: 13rem;
  width: 14.5vw;
  border-right: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
aside.menu:hover {
  border-right: 2px solid #ECE5EE;
}
aside.menu .menu-label {
  padding-left: 1.333vw;
  margin: 1.75rem 1.333vw 1rem 0;
}
aside.menu ul {
  margin-bottom: 2.5rem;
}
aside.menu a {
  padding: 0.6rem 1.25vw;
  margin-bottom: 0rem;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 2rem 2rem 2rem 2rem;
  -moz-border-radius: 2rem 2rem 2rem 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
}
aside.menu a:hover {
  background-color: #ECE5EE;
  color: #213762;
}
aside.menu a.button {
  line-height: 2.25;
  margin-top: 1.25rem;
  padding: 0 1.333vw;
  font-size: 1.125rem;
  background: transparent;
  border: 2px solid #34E8BD;
}
aside.menu a.button svg {
  margin-right: 0.25rem;
  margin-bottom: -1px;
}
aside.menu a.button svg, aside.menu a.button path {
  transition: all 0.3s ease-in-out;
}
aside.menu a.button:hover {
  background-color: #34E8BD;
  color: white;
}
aside.menu a.button:hover svg, aside.menu a.button:hover path {
  fill: white;
}

.menu-wrap + article.content {
  padding-left: 18.5vw;
}

.page-wrap {
  position: relative;
}

.is-fullwidth {
  width: 100vw;
  max-width: 100vw !important;
}

hr {
  background-color: rgba(100, 100, 100, 0.1);
}

hr.page-break {
  position: relative;
  text-align: center;
  height: 4rem;
  background: transparent;
}
hr.page-break:after {
  position: relative;
  width: 12.5%;
  display: inline-block;
  margin: 2.5rem 0 3.5rem;
  content: " ";
  height: 0.33rem;
  background: #BEA7E5;
  -webkit-border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
  -moz-border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
  border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
}

.documentation .content {
  padding-top: 8.5rem;
  margin-bottom: 5rem;
}
.documentation .content h1 {
  position: relative;
  padding-bottom: 2.67rem;
  margin: -1.5rem 0 5rem;
}
.documentation .content h1:after {
  position: absolute;
  width: 25%;
  margin: 2rem 0 0;
  display: inline-block;
  margin: 2.5rem 0 0;
  bottom: 0;
  left: 0;
  content: " ";
  height: 0.33rem;
  background: #BEA7E5;
  -webkit-border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
  -moz-border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
  border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
}
.documentation .content blockquote p {
  font-size: 1rem;
  line-height: 1.4;
}
.documentation .content .footer-nav {
  border-top: none;
}
.documentation .content.content-docs-wide section {
  max-width: 90vw !important;
  margin-left: 5vw;
  margin-right: 5vw;
}
.documentation .content.content-docs-wide section .content ul, .documentation .content.content-docs-wide section .content ol, .documentation .content.content-docs-wide section .content dl, .documentation .content.content-docs-wide section .content p, .documentation .content.content-docs-wide section .content blockquote {
  max-width: 100%;
}
.documentation footer {
  padding-left: 2.5vw !important;
  padding-right: 2.5vw !important;
}
.documentation footer .footer-nav {
  padding: 0 0.75rem;
  margin: 0;
  border-top: none;
}

.content section {
  margin-left: auto;
  margin-right: auto;
  max-width: 48.5rem;
}
.content section .box {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1.67rem 2rem;
}
.content section table {
  background-color: white;
  min-width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-collapse: collapse;
  border-radius: 0.333em;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(30, 30, 30, 0.125);
}
.content section table th, .content section table td {
  padding: 0.67vw 2vw;
  border-bottom: 1px solid #BEA7E5;
  line-height: 1.5;
}
.content section table th {
  font-size: 1.125rem;
  font-weight: bold;
  color: #0D203F;
  background-color: #F9F7EE;
  line-height: 1.75;
  border-bottom: 1px solid #BEA7E5;
}
.content section table td {
  font-size: 1rem;
  border-bottom-color: #ECE5EE;
}
.content section table tr:last-of-type td {
  border: none;
}

footer {
  background: white;
  margin: 0 auto 0;
  padding: 1.25rem 0 0;
  min-height: 12rem;
  border-top: 1px solid #BEA7E5;
  position: relative;
  z-index: 1400;
  /* top row of links */
  /* bottom row of smaller links */
}
footer ul,
footer p {
  margin: 2rem 0 4rem;
}
footer p.lead {
  font-size: 1.25rem;
  max-width: 67%;
  line-height: 1.33;
  margin: -2.5rem 0 0;
  color: #0A455A;
}
footer h4 {
  margin: 3rem 0 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #EF946C;
}
footer li {
  line-height: 2;
  list-style: none;
  font-size: 1.125rem;
}
footer img {
  max-height: 3rem;
  margin-top: 0;
}
footer.is-shallow {
  min-height: 6.5rem;
}
footer.is-shallow img {
  max-height: 2.5rem;
}
footer .footer-nav {
  border-top: 1px solid #D9DBE8;
}
footer .footer-nav .navbar {
  padding: 0;
  background: transparent;
}
footer .footer-nav .navbar .navbar-item {
  padding: 0 4rem 0 0;
  font-size: 1rem;
  line-height: 1.33;
  color: #BEA7E5;
}
footer .footer-nav .navbar .navbar-item a {
  color: #b1b5d0;
  transition: all 0.3s ease-in-out;
}
footer .footer-nav .navbar .navbar-item a:hover {
  color: #585f91;
}
footer .footer-nav .navbar .navbar-item:last-of-type {
  padding-right: 0;
}
footer .footer-nav p {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #f7f4f8;
    color: #0D203F;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: #0D203F;
    color: white;
  }
}
html.dark-theme > body {
  background: #0D203F;
  color: white;
}
html.dark-theme > body #topbar.navbar {
  background: #0D203F;
  border-color: #0A455A;
}
html.dark-theme > body #topbar.navbar .logo svg, html.dark-theme > body #topbar.navbar .logo path {
  fill: white !important;
}
html.dark-theme > body #topbar.navbar .logo-project a {
  color: #34E8BD;
}
html.dark-theme > body #topbar.navbar .logo-project a .tag {
  background-color: #213762;
  color: #BEA7E5 !important;
}
html.dark-theme > body #topbar.navbar .navbar-burger {
  color: #BEA7E5;
  height: 5.75rem;
}
html.dark-theme > body #topbar.navbar .navbar-menu a {
  color: #34E8BD;
}
html.dark-theme > body #topbar.navbar .navbar-menu .button {
  border: 3px solid #34E8BD;
}
html.dark-theme > body #topbar.navbar .navbar-menu .button:hover {
  background: #34E8BD !important;
  color: #0D203F;
}
html.dark-theme > body #topbar.navbar .dark-mode svg {
  fill: #34E8BD;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
html.dark-theme > body .menu-wrap {
  background: #0D203F;
  scrollbar-color: #525776, #09152a;
}
html.dark-theme > body aside.menu:hover {
  border-right: 2px solid #321a59;
}
html.dark-theme > body aside.menu a {
  color: white;
}
html.dark-theme > body aside.menu a:hover {
  color: #34E8BD;
  background-color: #213762;
}
html.dark-theme > body aside.menu a.button svg, html.dark-theme > body aside.menu a.button path {
  fill: white !important;
}
html.dark-theme > body .card {
  background: linear-gradient(0, #112b54, #0D203F 100%);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.52);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
html.dark-theme > body .card figure.image {
  border-bottom: 1px solid rgba(255, 255, 255, 0.333);
}
html.dark-theme > body .card p {
  color: white;
}
html.dark-theme > body .content .box {
  background-color: #213762;
  color: white;
}
html.dark-theme > body .content section table {
  background-color: #213762;
}
html.dark-theme > body .content blockquote {
  background-color: transparent;
}
html.dark-theme > body .content blockquote p {
  background-color: #1b2c4f;
  border-color: #243c6c;
  color: white;
}
html.dark-theme > body .content blockquote > blockquote p,
html.dark-theme > body .content aside p {
  background-color: #243c6c;
  border-color: #2b477f;
  color: white;
}
html.dark-theme > body footer {
  background: #0D203F;
  border-color: #0A455A;
  color: white;
}
html.dark-theme > body footer h4 {
  color: white;
}
html.dark-theme > body footer .footer-nav {
  border-color: #06101f;
}
html.dark-theme > body footer p, html.dark-theme > body footer li, html.dark-theme > body footer a {
  color: #34E8BD;
}

/* 4.
   Typography
*/
body {
  font-family: Sen, Europa, Avenir, system, -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16pt;
  color: #0D203F;
}

.content {
  /* Code Styling */
  /* highlight.js css */
}
.content h1, .content h2, .content h3 {
  font-weight: bold;
  display: block;
}
.content ul, .content ol, .content dl, .content p, .content blockquote {
  margin: 1.67rem 0;
  font-size: 1rem;
  max-width: 800px;
}
.content.size-16 ul, .content.size-16 ol, .content.size-16 dl, .content.size-16 p, .content.size-16 blockquote {
  font-size: 1rem;
}
.content.size-18 ul, .content.size-18 ol, .content.size-18 dl, .content.size-18 p, .content.size-18 blockquote {
  font-size: 1.125rem;
}
.content.size-20 ul, .content.size-20 ol, .content.size-20 dl, .content.size-20 p, .content.size-20 blockquote {
  font-size: 1.25rem;
}
.content ul li {
  list-style: disc;
  list-style-position: outside;
  line-height: 1.636;
  margin: 0 0.5rem 0 1.25rem;
  padding-left: 0.5rem;
}
.content ul.pagination-list {
  margin: 0;
}
.content ul.pagination-list li {
  list-style: none;
  margin: 0;
}
.content ul.is-disc li {
  list-style: disc;
  list-style-position: outside;
}
.content ol li {
  list-style-position: outside;
  line-height: 1.636;
  margin: 0 0.5rem 0 1.25rem;
  padding-left: 0.5rem;
}
.content blockquote > blockquote,
.content aside {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.content blockquote > blockquote p,
.content aside p {
  line-height: 1.8;
  border: 1px solid #D9DBE8;
  font-size: 1.2rem;
  background: #F9F7EE;
  padding: 1.25rem 1.5rem !important;
  margin: 2.5em auto 5rem !important;
  text-align: left;
  border-radius: 0.667rem;
  box-shadow: 0 3px 6px rgba(30, 30, 30, 0.125);
  color: #0D203F;
}
.content blockquote > blockquote a,
.content aside a {
  color: #0E8FDD;
}
.content blockquote {
  padding: 0rem 0 !important;
  margin: 0 !important;
  border-left: none;
}
.content blockquote p {
  color: #081f24;
  color: #345995;
  font-size: 1.1rem !important;
  line-height: 2;
  padding-right: 0 !important;
  border-left: 4px solid #D9DBE8;
  background: #f4f0f5;
  padding: 0.65rem 5% 0.65rem 2rem !important;
  margin: 1rem auto 1rem !important;
  text-align: left;
}
.content blockquote a {
  color: #0E8FDD;
}
.content iframe {
  margin: 2rem 0;
}
.content pre,
.content code {
  margin-bottom: 2rem !important;
}
.content pre code {
  margin-bottom: 0 !important;
}
.content h1 code, .content h2 code, .content h3 code, .content h4 code, .content h5 code {
  font-weight: bold;
  font-size: 1em !important;
}
.content pre,
.content code {
  margin-bottom: 2rem !important;
}
.content pre code {
  margin-bottom: 0 !important;
}
.content h1 code, .content h2 code, .content h3 code, .content h4 code, .content h5 code {
  font-weight: bold;
  font-size: 1em !important;
}
.content strong {
  color: #0D203F;
}
.content a {
  color: #0a68a1;
  border-radius: 0.333em;
  position: relative;
}
.content a:after {
  position: absolute;
  text-align: center;
  background: #0E8FDD;
  height: 0.125rem;
  content: " ";
  display: inline-block;
  opacity: 0;
  bottom: -0.2rem;
  left: 33%;
  right: 33%;
  transition: all 0.3s ease-in-out;
}
.content a:hover {
  background: rgba(255, 255, 255, 0.67);
  color: #0E8FDD;
}
.content a:hover:after {
  opacity: 1;
  left: 5%;
  right: 5%;
}
.content a:hover img + :after {
  display: none !important;
  margin-top: -4rem;
}
.content hr.page-break {
  text-align: left;
  height: 4rem;
  background: transparent;
}
.content hr.page-break:after {
  position: relative;
  width: 12.5%;
  margin: 1.5rem 0 2.5rem;
  height: 0.33rem;
}
.content .copy {
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 1rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.content .copy img {
  width: 1em;
}
.content .copy .button {
  position: absolute;
  padding: 0;
  line-height: 1;
  top: 0.01rem;
  right: 0.67rem;
  border: none;
  opacity: 0;
  background: transparent;
}
.content .copy:hover {
  background: rgba(100, 100, 100, 0.17);
}
.content .copy:hover .button {
  opacity: 1;
}
.content .copy-button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.content .copy-button:after {
  content: "Copied";
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0rem;
  right: 25%;
  top: 75%;
  transform: perspective(1px) translateY(-50%);
  z-index: 860;
  background: rgba(100, 100, 100, 0.75);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  color: white;
}
.content .copy-button:active {
  opacity: 0.8;
}
.content .copy-button:active:after {
  top: 50%;
  opacity: 1;
}
.content .card p {
  margin: 0;
  line-height: 1.25;
  color: #0D203F;
}
.content .card p.title {
  margin-bottom: 0.5rem;
}
.content .card p em {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-style: normal;
  opacity: 0.333;
  display: inline-block;
  padding: 0 0.2rem 0 0;
}
.content .card.card-color {
  border-radius: 0.33rem;
  overflow: hidden;
}
.content .card.card-color figure.image {
  border: 5px solid transparent;
  transition: all 0.3s ease-in-out;
}
.content .card.card-color figure.image:hover {
  border-color: white;
}
.content .card.card-color .card-content {
  padding: 0.5rem 0.5rem 1rem;
}
.content .card.card-color .card-content p {
  margin: 0 0 -0.333rem;
  letter-spacing: -0.02em;
}
.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content p code,
.content li code,
.content td code,
.content th code,
.content dd code {
  border-radius: 0.33rem !important;
  background: #e9e1eb;
  color: #345995;
}
.content pre,
.content code {
  margin-left: 0;
  border-radius: 0.67rem;
  background-color: #0D203F;
  background-image: linear-gradient(135deg, #0D203F 0%, #10274d 100%);
  color: white;
  font-size: 0.925rem;
  color: #BEA7E5;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
.content pre a,
.content code a {
  color: #0E8FDD;
}
.content pre > code,
.content code > code {
  background-color: transparent !important;
  background-image: none !important;
}
.content pre code.hljs,
.content code code.hljs {
  padding: 0 !important;
}
.content pre code.hljs .hljs-meta,
.content code code.hljs .hljs-meta {
  color: #34E8BD;
}
.content pre {
  margin: 1.333rem 0;
  max-width: 100%;
  position: relative;
}
.content code {
  border-radius: 0 !important;
}
.content .hljs {
  background-color: transparent !important;
}
.content pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.content code.hljs {
  padding: 3px 5px;
}
.content .hljs {
  color: #abb2bf;
  background: #282c34;
}
.content .hljs-comment, .content .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.content .hljs-doctag, .content .hljs-formula, .content .hljs-keyword {
  color: #c678dd;
}
.content .hljs-deletion, .content .hljs-name, .content .hljs-section, .content .hljs-selector-tag, .content .hljs-subst {
  color: #e06c75;
}
.content .hljs-literal {
  color: #56b6c2;
}
.content .hljs-addition, .content .hljs-attribute, .content .hljs-meta .hljs-string, .content .hljs-regexp, .content .hljs-string {
  color: #98c379;
}
.content .hljs-attr, .content .hljs-number, .content .hljs-selector-attr, .content .hljs-selector-class, .content .hljs-selector-pseudo, .content .hljs-template-variable, .content .hljs-type, .content .hljs-variable {
  color: #d19a66;
}
.content .hljs-bullet, .content .hljs-link, .content .hljs-meta, .content .hljs-selector-id, .content .hljs-symbol, .content .hljs-title {
  color: #61aeee;
}
.content .hljs-built_in, .content .hljs-class .hljs-title, .content .hljs-title.class_ {
  color: #e6c07b;
}
.content .hljs-emphasis {
  font-style: italic;
}
.content .hljs-strong {
  font-weight: 700;
}
.content .hljs-link {
  text-decoration: underline;
}

html.dark-theme > body {
  background: #0D203F;
  color: white;
}
html.dark-theme > body h1, html.dark-theme > body h2, html.dark-theme > body h3, html.dark-theme > body h4, html.dark-theme > body p, html.dark-theme > body li {
  color: white;
}
html.dark-theme > body .content a,
html.dark-theme > body article a {
  color: #34E8BD;
}
html.dark-theme > body .content strong,
html.dark-theme > body article strong {
  color: #ECE5EE;
}

html.dark-theme > body h1, html.dark-theme > body h2, html.dark-theme > body h3, html.dark-theme > body h4, html.dark-theme > body h5, html.dark-theme > body p, html.dark-theme > body li {
  color: white;
}
html.dark-theme > body pre {
  background: linear-gradient(0, #173564 15%, #233e68 100%);
}
html.dark-theme > body pre code {
  color: #DBC8E2;
}
html.dark-theme > body .content h1 code, html.dark-theme > body .content h2 code, html.dark-theme > body .content h3 code, html.dark-theme > body .content h4 code, html.dark-theme > body .content h5 code, html.dark-theme > body .content p code, html.dark-theme > body .content li code, html.dark-theme > body .content th code, html.dark-theme > body .content td code, html.dark-theme > body .content dd code {
  background-color: #213762;
  color: #ECE5EE;
}
html.dark-theme > body .content .hljs {
  color: #D2C3D7;
}
html.dark-theme > body .content .hljs-comment,
html.dark-theme > body .content .hljs-quote {
  color: #AFAFAC;
}
html.dark-theme > body .content a:hover {
  background: #1b2c4f !important;
}
html.dark-theme > body .content .table thead {
  background-color: #525776;
}
html.dark-theme > body .content .table thead th {
  background-color: #525776;
  border-color: #040b15;
  color: #070c16;
}
html.dark-theme > body .content .table td {
  border-color: #040b15;
  color: #ECE5EE;
}
html.dark-theme > body .content .table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #213762;
}
html.dark-theme > body .content .pagination-link, html.dark-theme > body .content .pagination-next, html.dark-theme > body .content .pagination-previous {
  border-color: #040b15;
}

/* 
   Responsive Media Queries
*/
@media screen and (max-width: 1023px) {
  #topbar.navbar .logo {
    width: 3rem;
    height: 3rem;
    background: url(/avatar.5fada8f8.png) no-repeat 0 0;
    background-size: contain;
  }
  #topbar.navbar .logo svg,
#topbar.navbar .logo span {
    display: none !important;
  }
  #topbar.navbar .logo-project {
    margin-left: 0.5rem;
  }
  #topbar.navbar .navbar-menu.is-pulled-right {
    text-align: right;
  }
  #topbar.navbar .navbar-menu.is-pulled-right a {
    float: right;
  }
  .menu-wrap {
    z-index: 1400;
    width: 100vw;
    display: none;
  }
  .menu-wrap.is-active {
    display: block !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  .menu-wrap aside.menu {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8rem;
  }
  article.content section,
footer {
    overflow-x: hidden !important;
    max-width: 100vw !important;
  }
  main.is-fullwidth {
    max-width: 90vw !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
  .menu-wrap + article.content {
    padding-left: 0;
    max-width: 85vw !important;
  }
  footer.is-shallow .footer-nav {
    max-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border-color: transparent !important;
  }
  footer.is-shallow .footer-nav .navbar-item {
    display: inline-block;
  }
}
/* 
    npm package 'fermyon-styleguide':
    =================================
    0.1. Brand Colors
    0.2. Variables and Mixins
    0.3. Global Layout
    0.4. Typography
    0.5. Responsive Media Queries

	1.1. Developer Styles
================= */
.search-modal-container {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.search-button-container {
  display: inline-block;
  position: absolute;
  width: 105%;
  display: block;
  top: 0;
  left: -1.333vw;
  bottom: 0;
  right: -5vw;
  z-index: 11;
}
.search-button-container:after {
  background: url("/search.b7fb4c6a.svg") no-repeat 0 0;
  display: inline-block;
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  content: " ";
  top: 2rem;
  right: 20rem;
}

.search-button {
  border: none !important;
  padding: 0.8rem;
  z-index: 19;
  cursor: text;
  display: block;
  width: 100%;
  height: 5.5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  transition: all 0.3s ease-in-out;
}
.search-button .search-command,
.search-button .search-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.search-button .search-placeholder {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 1rem;
  opacity: 0;
  color: #a180d9;
  font-weight: normal;
  min-width: 17.5vw;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.search-button:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.search-button:hover .search-placeholder, .search-button:hover .search-command {
  opacity: 1;
}

.search-icon {
  color: #a8a8a8;
  font-size: 0.7rem;
}

.search-placeholder {
  padding: 0 1rem 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.search-command {
  background-color: #e9e1eb;
  color: #345995;
  padding: 0.25em 0.5em 0.25em;
  font-size: 0.7rem;
  border-radius: 0.667rem;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.modal-box {
  width: 80%;
  height: auto;
  max-width: 600px;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ECE5EE;
  background: linear-gradient(45deg, rgb(236, 229, 238) 0%, rgb(218, 212, 223) 100%);
  border-radius: 0.825rem;
  box-shadow: rgba(0, 0, 0, 0.04) 1px 3px 5px;
  padding: 0.67rem;
  position: fixed;
  top: 7.5vh;
}

.modal-search-bar {
  box-sizing: border-box;
  line-height: 2;
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 0.667rem;
  border: 0px;
  margin-bottom: 0.67rem;
  border: 1px solid #BEA7E5;
  color: #7545c8;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}
.modal-search-bar:focus {
  outline: none;
  color: #6234b0;
}

.result-section-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  font-size: 0.825rem;
  color: #ab8cb6;
  line-height: 2;
}
.result-section-container .suggested-project {
  flex-direction: column;
  margin: 1.125rem;
  padding: 0.75rem 1.333rem 0.825rem;
  border-radius: 0.67rem;
  color: #213762;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.result-section-container .suggested-project:first-of-type, .result-section-container .suggested-project:nth-child(2) {
  margin-top: 2rem;
}
.result-section-container .suggested-project .project-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-weight: 600;
  color: #7545c8;
}
.result-section-container .suggested-project .recommended-navs {
  justify-content: space-evenly;
  align-items: left;
  display: flex;
  position: relative;
}
.result-section-container .suggested-project .recommended-navs:before {
  content: "↪";
  position: absolute;
  left: 0;
  width: 2rem;
  line-height: 1.5;
  display: inline-block;
  color: #BEA7E5;
  opacity: 0.5;
  position: absolute;
  left: 0.5rem;
  font-size: 1.2rem;
  top: 0.125rem;
}
.result-section-container .suggested-project .recommended-navs a.suggested-project-link {
  font-size: 0.925rem;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow-y: auto;
  border-radius: 0.25rem;
  color: #8b62d1;
  margin: 0.1rem 0 !important;
  transition: all 0.3s ease-in-out;
  font-weight: normal !important;
}
.result-section-container .suggested-project .recommended-navs a.suggested-project-link:hover {
  color: #14305f;
}
.result-section-container .result-section {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 0.667rem;
}
.result-section-container .result-section::-webkit-scrollbar {
  width: 0px;
}
.result-section-container .result-filters {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem 0.4rem 0.4rem;
  align-items: center;
  line-height: 2;
}
.result-section-container .result-filters .filter-categories {
  max-width: 80%;
}
.result-section-container .result-filters .filter-categories:before {
  display: inline-block;
  content: "Filters:";
  font-size: 0.825rem;
  color: #ab8cb6;
  padding-right: 0.5rem;
  float: left;
}
.result-section-container .result-filters .reset-filter {
  font-size: 0.8rem;
  color: #ab8cb6;
}
.result-section-container .result-filters code {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  text-transform: lowercase;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding: 0.275rem 0.67em;
  color: #525776;
  background-color: #e6dde9;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  padding-right: 1.5rem;
  position: relative;
}
.result-section-container .result-filters code:after, .result-section-container .result-filters code:before {
  display: inline-block;
  content: " ";
  background-color: #ECE5EE;
  width: 2px;
  height: 11px;
  transform: rotate(45deg);
  position: absolute;
  right: 0.75rem;
  top: 0.375rem;
}
.result-section-container .result-filters code:before {
  transform: rotate(135deg);
}
.result-section-container .result-filters code.active {
  background-color: #cbb9d2 !important;
  color: #926cd4 !important;
  opacity: 1;
}
.result-section-container .result-filters code:hover {
  background-color: #cbb9d2 !important;
}

.result-block {
  margin: 1.125rem;
  padding: 0.75rem 1.333rem 0.825rem;
  border-radius: 0.67rem;
  color: #213762;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.result-block a {
  color: #7545c8;
  margin-bottom: 0.67rem;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  padding-right: 15%;
  position: relative;
  font-size: 1.25rem;
}
.result-block a span {
  line-height: 1.4;
  display: block;
}
.result-block a:hover {
  color: #14305f;
}
.result-block code {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  position: absolute;
  text-transform: lowercase;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding: 0.25rem 0.67em;
  right: 0;
  top: 0.125rem;
  color: #926cd4;
  background-color: #f5f2f7;
}
.result-block a.result-subitem {
  font-size: 0.925rem;
  display: flex;
  align-items: center;
  overflow-y: auto;
  border-radius: 0.25rem;
  color: #8b62d1;
  margin: 0.2rem 0 !important;
  transition: all 0.3s ease-in-out;
  font-weight: normal !important;
}
.result-block a.result-subitem:hover {
  color: #14305f;
}

.result-item-icon {
  padding: 0 0.5rem 0 0;
}

html.dark-theme #topbar.navbar .search-button:hover {
  background: linear-gradient(180deg, rgba(33, 55, 98, 0) 0%, rgba(33, 55, 98, 0.5) 100%);
}
html.dark-theme .search-button-container:after {
  background: url("/search-white.e7b007cd.svg") no-repeat 0 0 !important;
}
html.dark-theme .search-button .search-placeholder {
  color: #ECE5EE;
}
html.dark-theme .search-button {
  color: white;
  border: none !important;
}
html.dark-theme .search-command {
  background-color: #213762;
  color: #ECE5EE;
}
html.dark-theme .search-modal-container .modal-wrapper {
  background-color: rgba(0, 0, 0, 0.2509803922);
}
html.dark-theme .search-modal-container .modal-box {
  background: #315292;
  background: linear-gradient(45deg, rgb(33, 55, 98) 0%, rgb(82, 92, 118) 100%);
}
html.dark-theme .search-modal-container input[type=text].modal-search-bar {
  background-color: #172745;
  color: white;
  border: 1px solid #a180d9;
  outline: none;
}
html.dark-theme .search-modal-container input[type=text].modal-search-bar::placeholder {
  color: #dbcef1;
}
html.dark-theme .search-modal-container .result-block {
  background-color: #213762;
}
html.dark-theme .search-modal-container .result-block a {
  color: white;
}
html.dark-theme .search-modal-container .result-block code {
  background-color: #0D203F;
}
html.dark-theme .search-modal-container .result-block a.result-subitem {
  background-color: transparent;
}
html.dark-theme .search-modal-container .result-block a.result-subitem:hover {
  color: #4976c0;
}
html.dark-theme .search-modal-container .result-block .result-subheading-container a {
  color: #34E8BD;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code, html.dark-theme .search-modal-container .result-section-container .result-filters span {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code {
  color: #ECE5EE !important;
  background-color: #213762 !important;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code:hover {
  opacity: 0.85;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code:before, html.dark-theme .search-modal-container .result-section-container .result-filters code:after {
  background-color: #0D203F;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code.active {
  background-color: #a180d9 !important;
}
html.dark-theme .search-modal-container .result-section-container .result-filters code.active:before, html.dark-theme .search-modal-container .result-section-container .result-filters code.active:after {
  background-color: #484c67;
}
html.dark-theme .search-modal-container .result-section-container .suggested-project {
  background-color: #213762;
}
html.dark-theme .search-modal-container .result-section-container .suggested-project .project-title {
  color: white;
}
html.dark-theme .search-modal-container .result-section-container .suggested-project .suggested-project-link {
  background-color: transparent;
  color: #34E8BD;
}

/* 1.1 Developer Styles
*/
.documentation aside.menu a.active {
  color: #213762;
  background-color: #ECE5EE;
}
.documentation .content {
  padding-top: 8.5rem;
}
.documentation .content h1 {
  margin-top: 2rem;
  position: relative;
  padding-bottom: 2.67rem;
}
.documentation .content.content-docs-wide p {
  line-height: 1.725;
}
.documentation .content pre {
  max-width: 800px;
}
.documentation .content details {
  font-size: 1rem;
  width: 100%;
  background: #f4f0f5;
  border-left: 4px solid #d9dbe8;
  position: relative;
  max-width: 800px;
}
.documentation .content details .summary-title {
  user-select: none;
}
.documentation .content details:hover {
  cursor: pointer;
}
.documentation .content details .summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}
.documentation .content details summary {
  list-style: none;
  padding: 1em;
}
.documentation .content details summary:focus {
  outline: none;
}
.documentation .content details summary:hover .summary-chevron-up svg {
  opacity: 1;
}
.documentation .content details .summary-chevron-up svg {
  opacity: 0.5;
}
.documentation .content details .summary-chevron-up,
.documentation .content details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
  background: #f4f0f5;
}
.documentation .content details .summary-chevron-up svg,
.documentation .content details .summary-chevron-down svg {
  display: block;
}
.documentation .content details summary::-webkit-details-marker {
  display: none;
}
.documentation .copy-code-button {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  border-radius: 0.67rem;
  padding: 0.2rem;
  cursor: pointer;
  background-color: rgba(237, 237, 237, 0.1450980392);
  border: 2px solid;
  border-color: rgba(237, 237, 237, 0.2078431373);
}
.documentation .copy-code-button > svg {
  fill: rgba(237, 237, 237, 0.6);
}
.documentation .copy-code-button:hover {
  border-color: rgba(237, 237, 237, 0.6);
}
.documentation .copy-code-button.is-success {
  border-color: #18d1a5;
}
.documentation .content a.anchor-link {
  padding: 0.3rem;
  text-decoration: none;
  opacity: 0;
  fill: #363636;
  background-color: transparent;
}
.documentation h1:hover > a.anchor-link {
  opacity: 1;
}
.documentation h2:hover > a.anchor-link {
  opacity: 1;
}
.documentation h3:hover > a.anchor-link {
  opacity: 1;
}
.documentation h4:hover > a.anchor-link {
  opacity: 1;
}
.documentation a.anchor-link:after {
  content: none;
}
.documentation aside.menu {
  padding-bottom: 7.5rem;
}

html.dark-theme body aside.menu a.active {
  color: #34E8BD;
  background-color: #213762;
}
html.dark-theme body .content details {
  background: #1b2c4f;
  border-left: 4px solid #243c6c;
}
html.dark-theme body .content details .summary-content {
  border-top: 1px solid #243c6c;
}
html.dark-theme body .content details .summary-chevron-up,
html.dark-theme body .content details .summary-chevron-down {
  background: #1b2c4f;
}
html.dark-theme body .content a.anchor-link:hover {
  background: transparent !important;
}
html.dark-theme body .content a.anchor-link {
  fill: #fff;
}
html.dark-theme .dropdown-content a {
  color: #34e8bd;
}

.dropdown {
  position: relative;
}
.dropdown :hover .dropdown-content {
  display: block;
}
.dropdown .logo-project {
  display: none;
}
.dropdown:hover + .dropdown-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.dropdown-content {
  display: inline-block;
  min-width: 200px;
  padding: 0;
  background: transparent;
  box-shadow: none;
  margin: 2rem 0 0 1.3335rem;
}
.dropdown-content a {
  color: #213762;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1.3335rem;
  position: relative;
}
.dropdown-content a.is-active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  width: 90%;
  margin: auto;
  height: 3px;
  background: #0e8fdd;
}
.dropdown-content :first-child {
  display: none;
}

#topbar.navbar .logo-wrap {
  border-right: 2px solid rgba(30, 30, 30, 0.025);
  padding-right: 1vw;
  margin-right: 1.333vw;
}
#topbar.navbar .logo-wrap .logo-subdomain {
  font-weight: 400;
}
#topbar.navbar .logo-wrap .logo-project {
  margin: 2rem 0 0 0.125rem;
  display: inline-block;
}
#topbar.navbar .logo-wrap .logo-project a {
  color: #345995;
}
#topbar.navbar .navbar-menu {
  position: relative;
  z-index: 1020;
}
#topbar.navbar .navbar-menu .navbar-start {
  z-index: 1021;
}
#topbar.navbar .navbar-menu .navbar-end {
  z-index: 1022;
}
#topbar.navbar .navbar-menu a.navbar-item {
  font-size: 1.125rem;
  margin-left: 0.425vw;
  position: relative;
}
#topbar.navbar .navbar-menu a.navbar-item span {
  background: #f2edf3;
  transition: all 0.3s ease-in-out;
  padding: 0.25rem 1rem;
  border-radius: 1.75rem;
  line-height: 1.5;
}
#topbar.navbar .navbar-menu a.navbar-item span:hover {
  background-color: #e4dae8;
}
#topbar.navbar .navbar-menu a.navbar-item.is-active span {
  background-color: white;
}
#topbar.navbar .navbar-menu a.navbar-item.is-active:after {
  display: block;
  content: " ";
  background: #34E8BD;
  top: -0.1rem;
  left: 0.75vw;
  right: 0.825vw;
  position: absolute;
  height: 0.25rem;
  border-radius: 0.25rem;
  z-index: 250;
}
#topbar.navbar .navbar-menu a.navbar-item.button {
  background: #34E8BD;
  color: #0D203F;
  font-size: 1rem;
  margin-top: 1.25rem;
  font-weight: normal;
  height: 2.75rem;
  font-weight: bold;
}
#topbar.navbar .navbar-menu a.navbar-item.button:hover {
  opacity: 0.85;
  background-color: #34E8BD !important;
  border-color: #62edcc;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.187);
}
#topbar.navbar .navbar-menu a.navbar-item.button:active {
  box-shadow: 0 -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.25);
  margin-top: 1.4rem;
}

.developer-home-wrap a.anchor-link {
  display: none !important;
}
.developer-home-wrap .menu-wrap + article.content {
  max-width: 100vw !important;
  padding-top: 4.5vw 0 0;
}
.developer-home-wrap .content {
  padding-left: 0 !important;
}
.developer-home-wrap .content h1, .developer-home-wrap .content h2, .developer-home-wrap .content h3 {
  color: #0D203F;
}
.developer-home-wrap .content h1 {
  font-size: 4rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
  padding-right: 8vw;
}
.developer-home-wrap .content h1:after {
  display: none;
}
.developer-home-wrap .content p.lead {
  font-size: 2rem;
  color: #8b62d1;
  line-height: 1.4;
  padding-right: 17.5rem;
}
.developer-home-wrap .content section {
  overflow: visible !important;
}
.developer-home-wrap #projects {
  padding-top: 4.25rem;
}
.developer-home-wrap .card.project {
  background: #ECE5EE;
  min-height: 460px;
  padding-bottom: 5rem;
  border-radius: 0.67rem;
  margin-bottom: 3.333rem;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.04) 1px 3px 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.developer-home-wrap .card.project:hover {
  box-shadow: rgb(82, 87, 118) 1px 2px 4px;
  margin-top: -3px;
}
.developer-home-wrap .card.project:hover .card-image {
  background-color: rgba(255, 255, 255, 0.333);
}
.developer-home-wrap .card.project .card-content {
  padding: 0.5rem 2.6rem;
}
.developer-home-wrap .card.project h3 {
  margin: 0.67rem 0 1.5rem;
  line-height: 1.275;
  font-size: 1.925vw;
  color: #213762 !important;
}
.developer-home-wrap .card.project h3 a {
  color: #213762 !important;
}
.developer-home-wrap .card.project p {
  color: #525776;
}
.developer-home-wrap .card.project a {
  color: white !important;
}
.developer-home-wrap .card.project a:after {
  display: none !important;
}
.developer-home-wrap .card.project a:hover {
  background: transparent !important;
}
.developer-home-wrap .card.project .card-image {
  background-color: transparent;
  position: relative;
  transition: 0.6s background-color ease-in-out;
}
.developer-home-wrap .card.project .card-image figure {
  margin: 0;
}
.developer-home-wrap .card.project .card-image.dark {
  display: none;
}
.developer-home-wrap .card.project .button {
  position: absolute;
  bottom: 2.333rem;
  transition: all 0.3s ease-in-out;
}
.developer-home-wrap .card.project .button:hover {
  background-color: #34E8BD !important;
  border-color: #39e9be;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.187);
}
.developer-home-wrap .community-highlight {
  background-color: #464e83;
  border-radius: 0.5rem;
  margin: 1.67rem 7.5vw 2.33rem 0;
  padding: 1.67rem 2.333rem;
  position: relative;
  min-height: 250px;
}
.developer-home-wrap .community-highlight event {
  position: relative;
  display: block;
  padding-right: 38%;
}
.developer-home-wrap .community-highlight a {
  color: white !important;
}
.developer-home-wrap .community-highlight date,
.developer-home-wrap .community-highlight eventtitle p {
  display: block;
}
.developer-home-wrap .community-highlight date {
  color: #34E8BD;
  font-size: 0.925rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1.5;
}
.developer-home-wrap .community-highlight eventtitle {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.025rem;
}
.developer-home-wrap .community-highlight p {
  margin: 1.5rem 0 1rem;
  font-size: 1.125rem;
}
.developer-home-wrap .community-highlight img {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.developer-home-wrap ul.connect-links {
  list-style: none;
  margin: 1rem 0 0;
}
.developer-home-wrap ul.connect-links li {
  list-style: none;
  line-height: 2;
  margin: 0;
}
.developer-home-wrap ul.connect-links li a {
  color: #7545c8;
}
.developer-home-wrap .external {
  width: 1.333rem;
  height: 1rem;
  background: url("/arrowexternal.23a23f5d.svg") no-repeat 0 0;
  display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1023px) {
  .documentation .content {
    padding-top: 2rem;
  }
  .documentation .content h1 {
    font-size: 6.333vw;
  }
  .documentation .content h2 {
    font-size: 5vw;
  }
  .documentation .content h3 {
    font-size: 3.33vw;
  }
  #topbar.navbar .logo-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .search-button-container {
    display: none;
  }
  .dropdown .logo-project {
    display: block;
  }
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    padding: 0;
    border-radius: 0.667rem;
    margin: 0;
  }
  .dropdown .dropdown-content a {
    color: #213762;
    font-size: 1.125rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    margin: 0;
  }
  .dropdown .dropdown-content a.is-active::after {
    display: none;
  }
  .dropdown .dropdown-content a:hover {
    background-color: #e9e1eb;
  }
  .dropdown :hover .dropdown-content {
    display: block;
  }
  .dropdown:hover + .dropdown-backdrop {
    backdrop-filter: blur(6px);
  }
  .developer-home-wrap {
    padding: 5.5rem 0 0 !important;
    max-width: 85% !important;
    margin-left: 7.5% !important;
    margin-right: 7.5% !important;
  }
  .developer-home-wrap article.content {
    max-width: 100%;
  }
  .developer-home-wrap aside.menu a.button {
    background-color: #34E8BD;
    color: #0D203F !important;
    min-width: 95%;
    padding: 0;
  }
  .developer-home-wrap .menu-wrap + article.content section {
    width: 100vw !important;
    margin: 0;
  }
  .developer-home-wrap .menu-wrap + article.content h1 {
    font-size: 1.825rem;
    padding-right: 0;
  }
  .developer-home-wrap .menu-wrap + article.content p.lead {
    padding-right: 0;
    font-size: 1.125rem;
  }
  .developer-home-wrap .card.project {
    min-height: auto;
    margin-bottom: 1rem;
  }
  .developer-home-wrap .card.project h3 {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .developer-home-wrap .community-highlight event {
    padding-right: 0;
  }
  .developer-home-wrap .community-highlight img {
    display: none;
  }
  .developer-home-wrap .community-highlight p {
    font-size: 1rem;
  }
  aside.menu a {
    padding: 0.6rem 0.75rem;
  }
  html.dark-theme .dropdown-content {
    background-color: #213762;
  }
  html.dark-theme .dropdown-content a {
    color: #34e8bd;
  }
  html.dark-theme .dropdown-content a:hover {
    background: #0d203f;
  }
}
@media screen and (min-width: 1500px) {
  .developer-home-wrap .card.project h3 {
    font-size: 1.825rem;
  }
}
html.dark-theme #topbar.navbar .logo-wrap {
  border-right: 1px solid #0f3a43;
}
html.dark-theme #topbar.navbar .logo-wrap .logo-project a {
  color: #D3C3D9;
}
html.dark-theme #topbar.navbar .navbar-menu a.navbar-item span {
  background: #0a1830;
}
html.dark-theme #topbar.navbar .navbar-menu a.navbar-item.is-active span {
  background: #213762;
}
html.dark-theme .developer-home-wrap #intro h1 {
  color: white;
}
html.dark-theme .developer-home-wrap #intro p.lead {
  color: #34E8BD;
}
html.dark-theme .developer-home-wrap .card.project {
  background: #09152a;
  outline: none;
}
html.dark-theme .developer-home-wrap .card.project:hover .card-image.dark {
  background: #0b1c37;
}
html.dark-theme .developer-home-wrap .card.project .card-image.dark {
  display: block;
}
html.dark-theme .developer-home-wrap .card.project .card-image.light {
  display: none;
}
html.dark-theme .developer-home-wrap .card.project figure.image {
  border-bottom: none;
}
html.dark-theme .developer-home-wrap .card.project h3 a {
  color: white !important;
}
html.dark-theme .developer-home-wrap .card.project p {
  color: #D3C3D9;
}
html.dark-theme .developer-home-wrap .card.project .button,
html.dark-theme .developer-home-wrap .card.project .button strong {
  color: #0D203F !important;
}
html.dark-theme .developer-home-wrap ul.connect-links li a {
  color: #34E8BD;
}
html.dark-theme .developer-home-wrap .external {
  background: url("/arrowexternal-dark.bf51616e.svg") no-repeat 0 0;
}

/* cookieconsent2 */
.cc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.cc-window.cc-invisible {
  opacity: 0;
}

.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.cc-animate.cc-revoke.cc-top {
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
}

.cc-animate.cc-revoke.cc-bottom {
  -webkit-transform: translateY(2em);
  transform: translateY(2em);
}

.cc-animate.cc-revoke.cc-active.cc-top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-animate.cc-revoke.cc-active.cc-bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-revoke:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-grower {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.cc-revoke, .cc-window {
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}

.cc-window.cc-static {
  position: static;
}

.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cc-revoke {
  padding: 0.5em;
}

.cc-revoke:hover {
  text-decoration: underline;
}

.cc-header {
  font-size: 18px;
  font-weight: 700;
}

.cc-btn, .cc-close, .cc-link, .cc-revoke {
  cursor: pointer;
}

.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
}

.cc-link:hover {
  opacity: 1;
}

.cc-link:active, .cc-link:visited {
  color: initial;
}

.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}

.cc-highlight .cc-btn:first-child:focus, .cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline;
}

.cc-close {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.6em;
  opacity: 0.9;
  line-height: 0.75;
}

.cc-close:focus, .cc-close:hover {
  opacity: 1;
}

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}

.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}

.cc-top {
  top: 1em;
}

.cc-left {
  left: 1em;
}

.cc-right {
  right: 1em;
}

.cc-bottom {
  bottom: 1em;
}

.cc-floating > .cc-link {
  margin-bottom: 1em;
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.cc-window.cc-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}

.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-banner .cc-message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

.cc-compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.cc-floating .cc-compliance > .cc-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: 0.5em;
}

@media print {
  .cc-revoke, .cc-window {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cc-btn {
    white-space: normal;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-top {
    top: 0;
  }
  .cc-window.cc-bottom {
    bottom: 0;
  }
  .cc-window.cc-banner, .cc-window.cc-floating, .cc-window.cc-left, .cc-window.cc-right {
    left: 0;
    right: 0;
  }
  .cc-window.cc-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cc-window.cc-banner .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .cc-window.cc-floating {
    max-width: none;
  }
  .cc-window .cc-message {
    margin-bottom: 1em;
  }
  .cc-window.cc-banner {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .cc-window.cc-banner .cc-message {
    margin-right: 0;
  }
}
.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.cc-theme-classic .cc-btn {
  border-radius: 5px;
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}

.cc-theme-edgeless.cc-window {
  padding: 0;
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: 0.8em 1.8em;
  height: 100%;
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}

.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
  margin-left: 0;
}

/*# sourceMappingURL=/styles.css.map */