// touch: mobile AND tablet
@media screen and (max-width: 1023px) {
	main.is-fullwidth {
		max-width: 92vw !important;
		padding-left: 4vw !important;
        padding-right: 4vw !important;
	}

    // touch topbar
    #topbar.navbar {
        .logo-wrap {
            width: 100% !important;
        }

        .navbar-menu {
            display: none !important;
        }

        .search-button-container {
            display: none;
            // no search on mobile - to do
        }
    }

    .dropdown {
        .logo-project {
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            min-width: 200px;
            padding: 0;
            border-radius: 0.667rem;
            margin: 0;

            a {
                color: $darkspace;
                font-size: 1.125rem;
                text-decoration: none;
                display: block;
                cursor: pointer;
                padding: 0.5rem;
                font-weight: bold;
                margin: 0;

                &.is-active {
                    &::after {
                        display: none;
                    }
                }
            }

            a:hover {
                background-color: #e9e1eb;
            }
        }

        :hover .dropdown-content {
            display: block;
        }
    }

    .dropdown:hover+.dropdown-backdrop {
        backdrop-filter: blur(6px);
    }

	.menu-wrap + article.content {
		max-width: 95vw !important;
        padding-left: 0 !important;

        footer.footer-links {
            padding: 1.25rem 0 !important;
        }
	}

    // touch content styles
	.documentation {

        // touch sidebar
        aside.menu {
            background: linear-gradient(105deg, rgba(239, 227, 245, 1) 0%, rgba(240, 230, 244, 1) 100%) !important;
            width: 100vw !important;
            padding-bottom: 0 !important;

            .search-button-container {
                display: none; 
            }

            a {
                padding: 0.6rem 0.75rem;
            }

            .accordion-tabs .accordion-menu-item .menu-label {
                width: 100%;
            }
            
            .accordion-tabs .accordion-menu-item .accordion-menu-item-content.stay-open li a,
            .accordion-tabs .accordion-menu-item input:checked ~ .accordion-menu-item-content li a {
                font-size: 1rem;
                padding: .3rem 2vw;
            }

            .button-wrap {
                position: relative;
                z-index: 1440;
                bottom: auto;
                left: auto;
                right: auto;
                width: 100%;
                border: none !important;
                background: transparent !important;
                padding-top: 3rem !important;
                padding-bottom: 1.25rem !important;
                min-height: auto !important;
            }
        }

        > .developer-home-wrap {
            padding: 5.5rem 0 0 !important;
            max-width: 85% !important;
            margin-left: 7.5% !important;
            margin-right: 7.5% !important;

            .content.content-docs.content-docs-wide.content-docs-wide {
                max-width: 100%;
                padding-left: .75rem !important;

                > section {
                    max-width: 100vw !important;
                    margin-left: 0vw !important;
                    margin-right: 0vw !important;
                }
            }

            aside.menu a.button {
                background-color: $seagreen;
                color: $oxfordblue !important;
                min-width: 95%;
                padding: 0;
            }

            .menu-wrap+article.content {

                section {
                    margin: 0;
                }

                h1 {
                    font-size: 1.825rem;
                    padding-right: 0;
                }

                p.lead {
                    padding-right: 0;
                    font-size: 1.125rem;
                }
            }

            .card.project {
                min-height: auto;
                margin-bottom: 1rem;

                figure a {
                    display: inline-block;
                }

                h3 {
                    font-size: 1.2rem !important;
                    margin-top: 0;
                }
            }

            .community-highlight {
                margin-right: 0;

                event {
                    padding-right: 0;
                }

                img {
                    display: none;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5;
                }

                date {
                    font-size: 0.825rem;
                }

                eventtitle {
                    line-height: 1.4;
                    font-size: 1.333rem;
                    margin: 0.75rem 0 0;
                }

                .carousel-cell {
                    padding: 1.67rem 2rem 1.67rem 2rem;
                }
            }

            .flickity-enabled .flickity-prev-next-button {
                width: 1rem;
                height: 1rem;
                opacity: 0.33;
                top: 21%;
            }

            .flickity-enabled .flickity-prev-next-button.next {
                right: 0.5rem;
            }

            .flickity-enabled .flickity-prev-next-button.previous {
                left: 0.5rem;
            }

            h2#connect {
                margin-top: 3rem;
            }
        }

		.content {
			padding-top: 2rem;


			h1 {
				font-size: 6.333vw;
			}

			h2 {
				font-size: 5vw;
			}

			h3 {
				font-size: 3.33vw;
			}
		}
	}

    body .klaro .cookie-notice:not(.cookie-modal-notice) {
        padding: 1.5rem 2rem !important;

        .cn-body {
            .cn-learn-more {
                position: absolute;
                left: 2.75rem !important;
                bottom: 6.25rem !important;
                color: $lavenderdark;
            }
            
            p {
                padding-bottom: 2rem;
            }
        }

        .cn-body .cn-buttons, .cn-ok {
            width: 100% !important;

            button {
                font-size: 0.925rem !important;
                padding: 0.5rem !important;
                min-width: 45% !important;
            }
        }
    }

	html.dark-theme {
        .dropdown-content {
            background-color: #213762;

            a {
                color: #34e8bd;
            }

            a:hover {
                background: #0d203f;
            }
        }
        aside.menu {
            background: $oxforddark !important;
        }
    }
}


// desktop
@media screen and (max-width: 1660px) {
	.documentation {
		.content {
			&.content-docs-wide {
				section {
					max-width: 780px !important;
				}
			}

			section {
				ul {

					&:nth-child(2),
					&:nth-child(3) {
						position: relative;
						left: 0;
					}
				}
			}
		}
	}

    body .klaro .cookie-notice .cn-body p {
        max-width: 67%;
    }
}

// small desktops
@media screen and (min-width: 1024px) and (max-width: 1380px) {

    #topbar.navbar {
        .logo-wrap {
            width: 240px;
            
            a.navbar-item {
                padding: 0.5rem 0.1rem 0.5rem 0.333rem;
            }
            .logo {
                margin-top: -5px !important;

                svg {
                    height: 10% !important;
                    max-height: 10px !important;
                    margin-left: 0 !important;
                }
            }

            .logo-developer {
                font-size: 63%;
                letter-spacing: 0.07rem;
                margin: 0 0 0 -4px;
            }
        }
    }

    .documentation aside.menu {
        width: 225px;
    }

    .menu-wrap.is-fixed-desktop,
    .documentation aside.menu .button-wrap {
        width: 240px;
    }

    .documentation aside.menu .accordion-tabs .accordion-menu-item .menu-label {
        width: 90%;
    }

    .menu-wrap + article.content {
        padding-left: 260px;
    }

    .documentation .content.content-docs.content-docs-wide section {
        max-width: 700px !important;
    }

    body .klaro .cookie-notice .cn-body p {
        max-width: 67%;
    }
}


// medium desktops
@media screen and (min-width: 1381px) and (max-width: 1439px) {
    #topbar.navbar {
        .search-button {
            &:after {
                right: 36vw;
            }

            &:before {
                right: 34.5vw;
            }
        }
    }
}


// wide desktops
@media screen and (min-width: 1660px) {

    #topbar.navbar {
        a.navbar-link.dark-mode {
            right: 27.75vw !important;
            position: absolute !important;
            margin-right: auto !important;
        }
        .search-button {
            &:after {
                right: 31.25vw;
            }

            &:before {
                right: 30vw;
            }

            .search-placeholder {
                right: 63rem;
            }

            .search-command {
                right: 53rem;
            }
        }
    }

	.documentation {
		.content {
			&>section {
				left: -9.25vw;
				position: relative;

				ul {

					&:nth-child(2),
					&:nth-child(3) {
						right: 5vw;
					}
				}
			}
		}

		.developer-home-wrap .card.project h3 {
			font-size: 1.825rem;
		}
	}
}