.documentation {
    .feedback-wrapper {
        width: 15vw;
        height: 100%;
        position: fixed;
        top: 0;
        right: 90px;
        z-index: 10;

        &.end-of-page {
            position: relative;
            width: 100%;
            right: 0;
            display: flex;
            justify-content: center;
            max-width: 800px;

            .feedback-modal {
                padding: 1rem;
                width: 100%;

                .statement {
                    font-weight: 400;
                    margin: 1rem;
                }

                .feedback-response-container {
                    margin-bottom: 1rem;
                }
            }
        }

        .feedback-modal {
            position: sticky;
            top: 80vh;
            min-height: 50px;
            width: 15vw;
            background-color: lighten($thistle, 5%);
            ;
            z-index: 0;
            opacity: 0;
            transition: opacity 0.25s ease-in;
            border-radius: 0.67rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;

            textarea {
                width: 100%;
                height: 75px;
                border: none !important;
                border-radius: 0.33rem;
                resize: none;
                margin-bottom: 1rem;
                padding: 0.5rem;
                font-size: 1rem;
                line-height: 1.5rem;
                outline: none;
            }

            .close {
                width: 100%;
                height: 1rem;
                position: relative;

                &::after {
                    width: 1.25rem;
                    height: 1.25rem;
                    content: "x";
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .statement {
                font-size: 1rem;
                margin-bottom: 0.4rem;
                text-align: center;
            }

            a {
                width: 100%;
                background: $midgreen;
                font-size: 1rem;
                border-radius: 0.33rem;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                text-align: center;
            }

            .feedback-response-container {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-top: 1rem;

                .feedback-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    height: 50px;
                    width: 50px;
                    background: transparent;

                    svg {
                        path {
                            fill: lighten($lavenderfloral, 5%);
                        }

                        &:hover {
                            path {
                                fill: darken($lavenderfloral, 2.5%);
                            }
                        }
                    }
                }
            }

        }
    }
}

html.dark-theme {
    .documentation .content .note .button {
        top: 0 !important;
        transform: none !important;
        background-color: $midgreen !important;
    }
    body {
        main {
            .feedback-wrapper {

                .feedback-modal {
                    background-color: lighten($oxforddark, 7.5%) !important;

                    textarea {
                        background-color: lighten($oxforddark, 15%) !important;
                    }

                    a {
                        background: $midgreen;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1661px) {
    .documentation {
        main {
            .feedback-wrapper {
                position: relative;
                width: 100%;
                right: 0;
                display: flex;
                justify-content: center;

                .feedback-modal {
                    width: 100%;
                    padding: 1rem;

                    .statement {
                        font-weight: 400;
                        margin: 1rem;
                    }

                    .feedback-response-container {
                        margin-bottom: 1rem;

                        button {
                            top: 0;
                        }
                    }

                }
            }
        }
    }
}

.documentation .content .note .button {
    top: 0 !important;
    transform: none !important;
}