// dark mode is activated via the class html.dark-theme

html.dark-theme {

    &:root {
        color-scheme: dark;
    }

    body.documentation {
        background: $oxforddark !important;

        main {
            position: relative;

            &:after {
                border-radius: 68.4375rem;
                background: rgba(230, 210, 241, 0.20);
                filter: blur(260px);
                position: fixed;
                right: -34rem;
                bottom: -32rem; 
                z-index: 0;
                content: " ";
                display: block;
                width: 68.4375rem;
                height: 68.4375rem;
                opacity: 0.2;
            }
        }

        #topbar.navbar {
            border-bottom: 1px solid $bluedark;
            background: $oxforddark !important;

            .logo-wrap {
                .logo-developer a {
                    color: $greenfoam !important;
                }

                &::after {
                    background-color: $bluedark;
                }
            }

            .navbar-menu {

                .navbar-start {
                    .is-hoverable {
                        &:hover {
                            +.overlay {
                                background-color: rgba($color: #000000, $alpha: 0.3);
                            }
                        }
                    }
                }

                a.navbar-item {
                    color: white;
        
                    &:hover {
                        background: rgba(124, 109, 185, 0.25) !important;
                    }
                }

                a.navbar-link {
                    color: white !important;

                    &:not(.is-arrowless)::after {
                        border-color: rgba(255,255,255,0.33);
                    }

                    &.is-active {
                        color: white !important;
                        background: rgba(124, 109, 185, 0.25) !important;
                    }

                    &:hover {
                        background: rgba(124, 109, 185, 0.35) !important;
                    }

                    &.dark-mode {
                        &:hover {
                            background: none transparent !important;
                        }
                    } 
                }

                .button {
                    color: white !important;
                    border-width: 0.1rem !important;

                    &.is-primary {
                        color: $oxfordblue !important;
                        border: none !important;
        
                        &:hover {
                            color: white !important;
                        }
                    }

                    i {
                        color: $celeste;
                        background: rgba($darkspace, 0.2);
                    }
                }
            }
        }

        .menu-wrap {
            border-right: 1px solid #384687;
            background: linear-gradient(47deg, rgba($oxforddark, 0.14) 0%, rgba(124, 109, 185, 0.12) 100%);
        }

        aside.menu {

            a {
                color: $lightlavender;

                code {
                    color: $thistle;
                }

                &.active {
                    color: $seagreen;
                    background-color: $darkspace;
                }
            }

            .accordion-tabs {
                .accordion-menu-item .accordion-menu-item-content.stay-open li a,
                .accordion-menu-item input:checked ~ .accordion-menu-item-content li a {
                    color: white !important; 

                    &:before {
                        background: $lavenderdark;
                        opacity: 0.25;
                    }

                    &.active,
                    &:hover {
                        &:before {
                            // background: $lavenderdark;
                            opacity: 1;
                        }
                    }
                }
            }

            .menu-label {
                color: $lightlavender !important;

                &.stay-open {
                    &:after {
                        opacity: 0.5;
                    }
                }
            }
            
            .button-wrap {
                background: #120C32 !important;
                border-top: 1px solid rgba($bluedark, 0.1) !important;
                border-right: 1px solid $bluedark;

                a.button {
                    &.is-primary {
                        color: $seagreen !important;
                    }

                    &.is-secondary {
                        background: #384687;
                        color: $thistle !important;
                    }
                }
            }

            .accordion-tabs {
                
                .menu-label {
                    color: $lavendermid !important;

                    &:hover {
                        color: $thistle !important;
                        background-color: rgba($oxforddark, 0.67);
                    }
                }

                .accordion-menu-item-content.stay-open,
                input:checked~.accordion-menu-item-content {
                    &:hover,
                    &.active,
                    .is-active {
                        &:before {
                            background: darken($lavenderdark, 20%);
                        }
                    }
                }
            }
        }

        footer.footer-links {
            border-top: 1px solid rgba($lavenderlight, 0.125) !important;
            .level a {
                color: #ccb2f0 !important;
                &:hover {
                    background: rgba(124, 109, 185, 0.5) !important;
                    color: #fff !important;
                    border-radius: 25px;
                }
            }
        }

        .content {

            a {
                color: lighten($lavenderfloral, 12.5%)
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            li,
            th,
            td,
            dd {
                code {
                    background: rgba($lavenderdark, 0.2);
                }
            }

            pre {
                margin: 1.67rem 0 2.33rem;

                code {
                    background: darken($oxforddark, 2.5%) !important;
                    background: linear-gradient(52deg, lighten($oxforddark, 4.25%) 0%, desaturate(lighten($oxforddark, 6.25%), 22.5%) 100%)  !important;
                }
            }

            table {
                th {
                    background-color: #0a1931;
                    border-bottom: 1px solid #0d203f;
                    color: #fff;
                }

                td {
                    border-bottom-color: #0d203f;
                }

                code {
                    background-color: rgba($oxfordblue, 0.5);
                }
            }

            details {
                background: #1b2c4f;
                border-left: 4px solid #243c6c;

                .summary-content {
                    border-top: 1px solid #243c6c;
                }

                .summary-chevron-up,
                .summary-chevron-down {
                    background: #1b2c4f;
                }
            }

            blockquote p {
                background: lighten($oxforddark, 4.25%);
                border-color: rgba($lavenderdark, 0.25) !important;
                color: $thistle !important;
            }

            .note {
                background: lighten($oxforddark, 4.25%);
                color: white;

                h4 {
                    color: $lightlavender;
                    font-family: $spaceGro;
                }

                .button {
                    background-color: transparent;
                    color: $seagreen;
                }
            }

            .multitab-content {
                background: none transparent !important;
                border: 1px solid rgba($vistablue, 0.25);
            }

            .tabs {

                &.is-boxed {
                    a {
                        color: lighten($lavender, 2.5%);
                        background-color: transparent;
                        position: relative;

                        &:hover {
                            color: $lightlemon;
                            background: none transparent !important;
                            border-bottom: 1px solid rgba($vistablue, 0.25);;
                        }

                        &.is-active {
                            color: $lavender;
                            background: $oxforddark !important;
                            border: 1px solid rgba($vistablue, 0.25);
                            border-bottom: none;
                            line-height: 1.285;

                            &:hover {
                                background: $oxforddark !important;
                            }
                        }
                    }
                }
            }

            a.anchor-link {
                &:hover {
                    background: transparent !important;
                }
            }

            a.anchor-link {
                fill: #fff;
            }

            blockquote p {
                background: lighten($oxforddark, 7.5%);
            }
        }
    }

    .dropdown-content {
        a {
            color: #34e8bd;
        }
    }

    .multitab-content {
        background-color: $oxfordblue;
    }

    .content {
		section {
			h1:first-of-type+ul {
                background: lighten($oxforddark, 7.5%) !important;

                &:before {
                    color: $lavenderlight;
                }

                li {
                    a {
                        display: inline-block;
                        color: $thistle !important;
                    }
                }

                &:hover {
                    li a {
                        &:hover {
                            background: rgba($oxforddark, 0.8) !important;
                            color: white;
                        }
                    }
                }
            }
		}
	}

	.search-button {
		border: 1px solid #a8a8a8;
		color: white;
	}

	#topbar.navbar {

		.is-hoverable {
			// .navbar-dropdown {
            //     background: #3D3368 !important;

			// 	.navbar-item {
			// 		.project-content {
			// 			.title {
			// 				color: white;
			// 			}

			// 			.description {
			// 				color: $lightplum !important;
			// 			}
			// 		}
			// 	}
			// }
		}

        .navbar-dropdown {
            &.mega-menu {
                border: 1px solid rgba($lavenderfloral, 0.5);
                background: $oxforddark !important;

                .menu-item {
                    a {
            
                    }

                    &:hover {
                        background-color: rgba($bluedark, 0.25);

                        .menu-content h3 {
                            color: $celeste;
                        }
                        .tag.tag-cncf {
                            color: $vistablue;
                        }
                    }

                    .menu-content {
                        h3 {
                            color: white;
                        }
                        p {
                            color: $thistle;
                        }
                    }
                    
                    .menu-icon {
                        background: url(/static/image/grid-dark.png) repeat 0 0;
                        border: 1px solid rgba($colablue, 0.25);
                    }
                }
            }
        }

		.logo-wrap {
			.logo-project a {
				color: $lightplum;
			}
		}

		.navbar-menu {
			a.navbar-item {

				span {
					background: darken($oxfordblue, 3.5%);
				}

				&.is-active {
					span {
						background: rgba($darkspace, 0.333);
					}
				}

                span.tag {
                    color: $thistle !important;
                    background-color: rgba($oxforddark, 0.2) !important;
                }
			}
		}
	}

	.developer-home-wrap {

		.hero-title {
            background: linear-gradient(90deg, $lavenderfloral 0.06%, $thistle 103.75%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .subtitle {
            color: $lavenderfloral;
        }

		h2,
		h3 {
			color: white !important;
		}

        .projects-wrapper-parent:after {
            background: url(/static/image/grid-dark.png) repeat 0 0;
            border: 1px solid rgba($colablue, 0.25);
            opacity: 0.75;
        }

        .projects-wrapper {
            div.projects-column {
                &:before {
                    border-left: 2px dashed rgba(255,255,255,0.15);
                    border-bottom: 2px dashed rgba(255,255,255,0.15);
                }
                &:after {
                    border-top: 2px dashed rgba(255,255,255,0.15);
                    border-right: 2px dashed rgba(255,255,255,0.15);
                }
            }
            .project-category {
                aside {
                    &:before {
                        background: linear-gradient(90deg, darken($seagreen, 20%) 0%, rgba($celeste, 0.5) 100%);
                    }

                    p, li {
                        color: white;
                        a {
                            color: $thistle;
                        }
                    }
                    p.mono {
                        color: $lavenderdark;
                        opacity: 1;
                    }
                }
            }

            .card-project {
                border: 1px solid rgba($lavenderfloral, 0.25) !important;
                background: darken($oxforddark, 2.25%) !important;
                outline: 1px solid $oxforddark !important;
        
                .card-icon {
                    background: url(/static/image/grid-dark.png) repeat 0 0;
                    border: 1px solid rgba($colablue, 0.25);
                }

                h2 {
                    .is-blue {
                        color: lighten($vistablue, 12.5%);
                    }
                }

                p {
                    color: $thistle;
                }

                a.card-footer-item {
                    color: lighten($vistablue, 5%) !important;
                }

                &:hover {
                    a.card-footer-item {
                        color: $seagreen !important;
                    }
                }

                &.card-spin {
                    .card-icon {
                        img {
                            mix-blend-mode: plus-lighter;
                        }
                    }
                }
            }
        }
        
        .project-gh-button.button {
            background: lighten($oxforddark, 3.5%) !important;
            border: 1px solid rgba($lavenderdark, 0.25) !important;
            color: white !important;
        }
    }
    
    .developer-home-narrow {
        p.subtitle {
            color: $thistle;
        }
        
        .discord-card {
            border: 1px solid rgba($lavenderdark, 0.5);
        }

        .wasm-lang-card {
            background: $docsbg1 url(/static/image/wasm-lang-card-dark.png) no-repeat right 0;
            background-size: auto 120%;

            .cta-title {
                color: $thistle;
                font-weight: 600;
                text-shadow: 0 1px 0.35rem rgba(0,0,0,0.5);
            }

            .cta-description {
                color: white;

                font-size: 0.925rem;
            }

            &:before {
                background: rgb(111,196,190);
                background: linear-gradient(10deg, rgba($oxforddark, 0.95) 0%, rgba($oxfordblue, 0) 100%);
            }
            border: 1px solid rgba($lavenderdark, 0.825);
        }
        
        .social-link {
            color: white;
            background: rgba($lavenderdark, 0.2);

            i.external {
                background: url('../image/arrowexternal-dark.svg') no-repeat 0 0;
                background-size: contain;
                opacity: 0.67;
            }
		}
	}
    
    .klaro {
        .cookie-notice:not(.cookie-modal-notice) {
            background-color: white !important;
            
            .cn-body {
                p {
                    color: $oxforddark;

                    strong {
                        color: $oxforddark !important;
                    }

                    a {
                        color: $lavenderdark !important;
                    }
                }

                .cn-learn-more {
                    color: $lavenderdark;
                }
    
                .cn-buttons {
                    button {
                        color: white;
    
                        &.cm-btn.cm-btn-success {
                            background-color: $seagreen !important;
                            color: $oxfordblue !important;
                        }
    
                        &.cn-decline {
                            background-color: transparent !important;
                            color: $oxforddark !important;
                            border: 1px solid $oxforddark !important;
                        }
                    }
                }
            }
        }
    
        .cookie-modal .cm-modal .cm-header h1 {
            color: $oxforddark;
        }
    }
}