
/* Styleguide Refresh from fermyon.com (1.5 design refresh)
*/


$oxforddark: #0E092D;
$vistablue: #8093F1;
$lavenderfloral: #A87CE6;
$thistle: #E7D3F2;
$celeste: #C5FFF1;

$docsbg1: #FDF8FF;
$docsbg2: #FCF5FF;
$greenfoam: #C5FFF1;
$lavenderdark: #8967C2;
$lavendermid: #E6D2F1;
$lavenderlight: $thistle;
$bluedark: #384687;
$bluecallout: #282F55;


//  fonts
$spaceGro: 'Space Grotesk', Tofu, Sen, Europa, Avenir, system, -apple-system, SFNSText-Regular, San Francisco, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
$mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

// reusable mixins
@mixin upperCase {
    text-transform: uppercase;
    letter-spacing: 0.1125rem;
}

.uppercase {
    @include upperCase;
}

@mixin button {
    color: $oxforddark !important;
    font-size: 1rem;
    font-family: $spaceGro;
    font-weight: 500;
    padding: 0.333rem 1.5rem;
    @include upperCase;
    @include transition;
}