.documentation>.developer-home-wrap {
	padding-bottom: 5rem;

	// disable the js title anchors on the homepage
	a.anchor-link {
		display: none !important;
	}

	.menu-wrap+article.content {
		max-width: 100vw !important;
		padding-top: 4.5vw;
	}

	.content.content-docs.content-docs-wide {
		padding-left: 0 !important;

		section {
			margin-left: 5vw !important;
			margin-right: 5vw !important;
			max-width: 90vw !important;
		}

		h1,
		h2,
		h3 {
			color: $oxfordblue;
		}

		h1 {
			font-size: 4rem;
			padding-bottom: 0;
			margin-bottom: 2rem;
			padding-right: 8vw;
            font-family: $spaceGro;
			font-weight: 600;
			color: darken($darkblue, 12.5%);

			&:after {
				display: none;
			}
		}

		h2 {
			margin-bottom: 1.67rem;
		}

		p.lead {
			font-size: 2rem;
			color: lighten($darkblue, 2.5%);
			line-height: 1.4;
			padding-right: 17.5rem;
		}

		section {
			overflow: visible !important;
		}

		&.content-docs-wide>section {
			max-width: 90vw !important;
			margin-left: 5vw !important;
			margin-right: 5vw !important;
			left: auto;
		}
	}

	#projects {
		padding-top: 4.25rem;
	}

	.card-link {
		&::after {
			display: none;
		}
	}

	.card.project {
		background: $lightlavender;
		min-height: 460px;
		padding-bottom: 5rem;
		border-radius: 0.67rem;
		margin-bottom: 3.333rem;
		border: none !important;
		box-shadow: rgba(0, 0, 0, 0.04) 1px 3px 5px;
		overflow: hidden;
		@include transition;

		&:hover {
			box-shadow: rgba(82, 87, 118, 1) 1px 2px 4px;
			margin-top: -3px;

			.card-image {
				background-color: rgba(255, 255, 255, 0.333);
			}
		}

		.card-content {
			padding: 0.5rem 2.6rem;
		}

		h3 {
			margin: 0.67rem 0 1.5rem;
			line-height: 1.5;
			font-size: 1.75vw;
			color: darken($darkblue, 10%) !important;
			font-weight: 500;

			a {
				color: $darkblue !important;
			}
		}

		p {
			color: darken($darkblue, 10%) !important;
			line-height: 1.5;
		}

		span {
			color: $darkplum !important;

			&:after {
				display: none !important;
			}

			&:hover {
				background: transparent !important;
			}

		}

		.card-image {
			background-color: transparent;
			position: relative;
			transition: 0.6s background-color ease-in-out;

			figure {
				margin: 0;
			}

			&.dark {
				display: none;
			}
		}

		.button {
			@include button;
			@include upperCase;
			@include transition;
			position: absolute;
			bottom: 2.333rem;
			font-weight: normal !important;
			letter-spacing: .2em;
			padding: 1rem 1.5rem;

			&:hover {
				background-color: $seagreen !important;
				border-color: lighten($seagreen, 1%);
				box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.187);
			}
		}
	}

	.community-highlight {
		background-color: saturate($darkplum, 12.5%);
		border-radius: 0.5rem;
		margin: 0 5vw 0 0;
		padding: 0;
		position: relative;
		min-height: 280px;

		.carousel-cell {
			min-height: 250px;
			width: 100%;
			padding: 2.5rem 2.5rem 1.67rem 3rem;
		}

		event {
			position: relative;
			display: block;
			padding-right: 38%;
		}

		a {
			color: white !important;
		}

		date,
		eventtitle p {
			display: block;
		}

		date {
			color: $seagreen;
			font-size: 0.925rem;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.125rem;
			line-height: 1.5;
		}

		eventtitle {
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: 0.025rem;
		}

		p {
			margin: 1.5rem 0 1rem;
			font-size: 1rem;
			line-height: 1.4;
		}

		img {
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			max-width: 140px;
		}

		&.community-highlight-short {
			min-height: auto;
			margin-top: -1rem;
			margin-bottom: 0;
			background-color: lighten(saturate($darkplum, 12.5%), 7.5%);
			padding-right: 0;

			.event {
				.date {
					width: 33%;
					float: left;
					display: inline-block;
				}

				.eventtitle {
					display: inline-block;
					width: 57%;
					float: left;
				}
			}
		}
	}

	/*! Flickity v2.3.0
	https://flickity.metafizzy.co
	---------------------------------------------- */

	.flickity-enabled {
		position: relative;

		&:focus {
			outline: none;
		}

		.flickity-viewport {
			overflow: hidden;
			position: relative;
			height: 100%;
		}

		.flickity-slider {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&.is-draggable {
			-webkit-tap-highlight-color: transparent;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			.flickity-viewport {
				cursor: move;
				cursor: -webkit-grab;
				cursor: grab;

				&.is-pointer-down {
					cursor: -webkit-grabbing;
					cursor: grabbing;
				}
			}
		}

		.flickity-button {
			position: absolute;
			background: hsla(0, 0%, 100%, 0.75);
			border: none;
			color: $oxfordblue;

			&:hover {
				background: white;
				cursor: pointer;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 5px $midblue;
			}

			&:active {
				opacity: 0.6;
			}

			&:disabled {
				opacity: 0.3;
				cursor: auto;
				/* prevent disabled button from capturing pointer up event. #716 */
				pointer-events: none;
			}
		}

		.flickity-button-icon {
			fill: currentColor;
		}

		.flickity-prev-next-button {
			top: 50%;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			/* vertically center */
			transform: translateY(-50%);
			z-index: 800;

			&.previous {
				left: -2.5rem;
			}

			&.next {
				right: -2.5rem;
			}
		}

		.flickity-rtl .flickity-prev-next-button.previous {
			left: auto;
			right: -2.5rem;
		}

		.flickity-rtl .flickity-prev-next-button.next {
			right: auto;
			left: -2.5rem;
		}

		.flickity-prev-next-button .flickity-button-icon {
			position: absolute;
			left: 20%;
			top: 20%;
			width: 60%;
			height: 60%;
		}
	}

	.flickity-page-dots {
		position: absolute;
		width: 100%;
		bottom: -3rem;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		line-height: 1;
	}

	.flickity-rtl .flickity-page-dots {
		direction: rtl;
	}

	.flickity-page-dots .dot {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		margin: 0 8px;
		background: $lavender;
		border-radius: 50%;
		opacity: 0.25;
		cursor: pointer;
	}

	.flickity-page-dots .dot.is-selected {
		opacity: 1;
	}

	ul.connect-links {
		list-style: none;
		margin: 1rem 0 0;

		li {
			list-style: none;
			line-height: 2;
			margin: 0;

			a {
				color: darken($lavender, 25%);
			}
		}
	}

	.external {
		width: 1.333rem;
		height: 1rem;
		background: url('../image/arrowexternal.svg') no-repeat 0 0;
		display: inline-block;
	}
}