#topbar.navbar {
    display: flex;
    align-items: center;

    &.is-wide {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .logo-wrap {
        display: flex;
        align-items: center;
        width: $sidebarWidth;
        margin-right: -2px;
        position: relative;
        border: none;

        .logo {
            margin-top: -4px !important;

            svg {
                height: 30% !important;
                min-height: auto !important;
                max-height: auto !important;
                max-width: auto !important;
                margin-left: 1.2vw;
            }
        }

        .logo-developer {
            margin: 0;
            font-family: $spaceGro;
            letter-spacing: 0.0225rem;
            font-size: 70%;
            font-weight: 500;
            display: inline-block !important;
            @include upperCase;

            a {
                font-weight: 500 !important;
                font-size: 15px !important;
                line-height: 12px !important;
                display: inline-block !important;
                // margin-top: -1px;
            }
        }

        &:after {
            width: 1px;
            height: 2rem;
            display: block;
            content: " ";
            background: rgba($lavenderlight, 0.75);
            position: absolute;
            right: 0;
        }
    }

    .navbar-menu {
        padding-left: 1.33vw;
        padding-right: 1vw;
        display: flex;
        height: 4.8rem;

        .has-dropdown {
            a.navbar-link {
                padding-right: 2rem;

                &:after {
                    // dropdown caret
                    border-color: $bluedark;
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                    border-width: 1px;
                    border-radius: 0;
                    font-size: .5rem;
                    right: 0.775rem;
                    margin-top: -.67em;
                }
            }
        }

        a.navbar-item {
            font-family: $spaceGro;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            padding: 0.3rem 1.125rem;
            letter-spacing: 0.025rem;
            font-weight: normal;
            margin-left: 1vw;
            margin-right: 0.67vw;
            color: $bluedark;
            border-radius: 0.725rem;
            line-height: 1.5;
            @include transition;

            &:hover {
                background: rgba($lavendermid, 0.25) !important;
            }
        }

        a.navbar-link {
            font-family: $spaceGro;
            font-size: 1rem;
            letter-spacing: 0.0125rem;
            margin-left: 1vw;
            margin-right: 0.67vw;
            color: $bluedark;
            height: 5rem;
            font-weight: 500 !important;
            border-radius: 0.725rem;

            span {
                padding: 0.3rem 1.125rem;
                line-height: 1.5;
                display: block;
            }

            &.is-active span {
                background: rgba($lavendermid, 0.25) !important;
            }

            .is-arrowless > span:after {
                display: none;
            }

            &:hover span {
                background: rgba($lavendermid, 0.425) !important;
            }

            &.dark-mode {
                display: flex;
                position: relative;
                top: auto;
                right: auto;
                width: auto;
                padding: 0;
                margin-right: 1.425rem;

                &:hover span {
                    background: transparent !important;
                }

                & > span:after {
                    display: none !important;
                }

                svg {
                    fill: #BCA2CA;
                    opacity: 0.925;

                    &:hover {
                        fill: darken($lavender, 20%);
                        background: transparent !important;
                    }
                }
            }
        }

        a.navbar-item.button {
            margin: 0 0.333vw !important;
            font-size: 0.925rem !important;
            color: $oxforddark !important;
            letter-spacing: 0.025em;
            padding: 1rem;
            line-height: 1.25;
            border-radius: 3rem;

            &.is-primary {
                border: none;
                background-color: $seagreen;

                &:hover {
                    background-color: $seagreen !important;
                }
            }

            &.is-secondary {
                border: 2px solid $seagreen;
                background: transparent !important;

                &:hover {
                    background-color: $seagreen !important;
                    color: $oxforddark !important;
                }
            }

            i {
                color: $celeste;
                font-style: normal;
                margin: 0 -0.225rem 0 1rem;
                text-transform: uppercase;
                letter-spacing: 0.125rem;
                padding: 0.125rem 0.33rem !important;
                font-size: 0.825rem;
                background: rgba(0, 0, 0, 0.125);
                border-radius: 0.5rem;
            }
        }

        .github-button-wrap {
            margin: .5rem 1rem 0 1rem;

            a.github-button {
                text-indent: -9999rem;
                color: #666;
                display: inline-block;
                position: relative;
            }
        }

        .github-button-wrap+a.navbar-item.button {
            margin-right: -1rem !important;
        }
    }

    // docs project dropdown
    .dropdown {
        position: relative;

        :hover .dropdown-content {
            display: block;
        }

        .logo-project {
            display: none;
        }

        &:hover+.dropdown-backdrop {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: -1;
        }

    }

    .dropdown-content {
        display: inline-block;
        min-width: 200px;
        padding: 0;
        background: transparent;
        box-shadow: none;
        margin: 2rem 0 0 0.3335rem;

        a {
            color: #213762;
            font-size: 1.125rem;
            text-decoration: none;
            display: inline;
            cursor: pointer;
            font-weight: bold;
            margin-right: 1.3335rem;
            position: relative;

            &.is-active {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -0.5rem;
                    width: 90%;
                    margin: auto;
                    height: 3px;
                    background: #0e8fdd;
                }
            }
        }

        :first-child {
            display: none;
        }
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .logo-wrap .logo-project {
        margin: 1.875rem 1.125rem 0 0.125rem;
        display: inline-block;
    }
}

.navbar-menu {
    position: relative;
    z-index: 1020;
    
    .navbar-start {
        z-index: 1023;
        align-items: center;
        
        .is-hoverable {
            z-index: 9999;
            
            .navbar-link {
                margin-left: 0;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 0 3.33rem 0 .75rem;
            }
            
            .navbar-dropdown {
                &.mega-menu {
                    min-width: 1020px;
                    left: 0;
                    right: 0;
                    position: fixed;
                    margin-top: -2px;
                    padding: 0.333rem 0.67rem 0.333rem 0.333rem;
                    border: 1px solid #e1d2f6;
                    box-shadow: 0 0.5rem 2rem rgba(10, 10, 10, 0.1);
                    
                    .mega-menu-title {
                        color: $lavenderdark;
                        font-family: $work;
                        font-size: 0.925rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.25rem;
                        letter-spacing: 0.0125rem;
                        margin: 0.5rem 1rem 1rem;
                        
                        span {
                            display: block;
                            font-family: $mono;
                            font-weight: 400;
                            color: rgba($lavendermid, 1);
                        }
                    }
                    
                    .menu-item {
                        display: flex;
                        align-items: flex-start;
                        margin: 0 0 1rem;
                        padding: 0.75rem 1rem 0.75rem;
                        border-radius: 0.67rem;
                    
                        &:hover {
                            background-color: rgba($docsbg1, 1);
                            @include transition;

                            .tag.tag-cncf {
                                opacity: 1;
                            }
                        }
                        
                        .menu-icon {
                            width: 48px;
                            height: 48px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-shrink: 0;
                            border: 1px solid #D3A8EA;
                            background: #F0EBF6;
                        }

                        .tag {
                            display: inline-block;
                            @include upperCase;
                            padding: 0.3rem 0.425rem 0.15rem 1.825rem;
                            margin: -0.333rem 0 0 0.75rem;
                            border-radius: 1rem;
                            vertical-align: middle;
                            letter-spacing: 0.025rem;
                            line-height: 1;
                            height: auto;
                            
                            &.tag-cncf {
                                content: "CNCF";
                                font-family: $mono;
                                font-size: 0.825rem;
                                background: rgba($thistle, 0.12) url(/static/image/cncf.svg) no-repeat 0.5rem 50%;
                                background-size: 0.825rem auto;
                                color: $lavenderdark;
                                opacity: 0.67;
                            }
                        }
                        
                        .menu-content {
                            a {
                                display: inline-block;
                                margin-left: 1.125rem !important;
                                min-height: 3rem;
                            }
                            h3 {
                                line-height: 1.2;
                                font-family: $spaceGro;
                                color: $oxforddark;
                                margin: 0 0 0.25rem;
                                font-size: 1.2rem;
                                font-weight: 500;
                            }
                            
                            p {
                                color: darken($colablue, 10%);
                                font-family: $work;
                                font-size: 0.8125rem;
                                line-height: 1.0875rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-end {
        z-index: 1022;
        margin-right: 1.5vw;
        align-items: center;
    }

    a {
        margin-left: 1.75rem;
    }

    a.navbar-item {
        font-size: 1.125rem;
        margin-left: 0.67rem;
        position: relative;

        span {
            @include transition;
            padding: 0.25rem 1rem;
            border-radius: 1.75rem;
            line-height: 1.5;

            &:hover {
                background-color: lighten($lightplum, 7.5%);
            }
        }
    }
}

@media screen and (min-width: 1140px) {
    header .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1524px;
        display: inline-flex;
    }
    .navbar-menu .navbar-start .is-hoverable .navbar-dropdown.mega-menu {
        max-width: 1080px;
        position: fixed;
        margin-top: 0 !important;
        left: 50% !important;
        margin-left: -540px;
    }
}