/* FERMYON SHINY VENEER
=======================
For the benefit of browser-based experiences, websites and application user 
interfaces. This Sass file should be compiled to a CSS stylesheet and served 
after a base framework such as Bulma, Bootstrap or similar base grid system.

to generate to css:
https://sass-lang.com/install 

then run:
sass --watch static/sass/styles.scss static/css/style.css --style compressed


TABLE OF CONTENTS
================= */
@import "../../node_modules/@fermyon/styleguide/scss/fermyon";
/* 
    npm package 'fermyon-styleguide':
    =================================
    0.1. Brand Colors
    0.2. Variables and Mixins
    0.3. Global Layout
    0.4. Typography
    0.5. Responsive Media Queries

1.1. Spin: Docs Styles
*/

/* 1.1 Spin: Docs Styles
*/

.documentation {
	.content {
		padding-top: 8.5rem;

		h1 {
			margin-top: 2rem;
			position: relative;
			padding-bottom: 2.67rem;
		}

		&.content-docs-wide {
			p {
				line-height: 1.725;
			}
		}

		details {
			font-size: 1rem;
			width: 100%;
			background: #f4f0f5;
			border-left: 4px solid #d9dbe8;
			position: relative;
			max-width: 800px;

			.summary-title {
				user-select: none;
			}

			&:hover {
				cursor: pointer;
			}

			.summary-content {
				border-top: 1px solid #e2e8f0;
				cursor: default;
				padding: 1em;
				font-weight: 300;
				line-height: 1.5;
			}

			summary {
				list-style: none;
				padding: 1em;

				&:focus {
					outline: none;
				}

				&:hover .summary-chevron-up svg {
					opacity: 1;
				}
			}

			.summary-chevron-up svg {
				opacity: 0.5;
			}

			.summary-chevron-up,
			.summary-chevron-down {
				pointer-events: none;
				position: absolute;
				top: 0.75em;
				right: 1em;
				background: #f4f0f5;

				svg {
					display: block;
				}
			}

			summary::-webkit-details-marker {
				display: none;
			}
		}
	}

	// Styles for the copy button on code blocks

	.copy-code-button {
		position: absolute;
		top: 0.7rem;
		right: 0.7rem;
		border-radius: 0.67rem;
		padding: 0.2rem;
		cursor: pointer;
		background-color: #ededed25;
		border: 2px solid;
		border-color: #ededed35;

		>svg {
			fill: #ededed99;
		}

		&:hover {
			border-color: #ededed99;
		}
	}

	.copy-code-button.is-success {
		border-color: #18d1a5;
	}

	// Styling for active project in topbar

	.logo-project {
		a {
			position: relative;
		}

		a.is-active {
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -0.5rem;
				width: 90%;
				margin: auto;
				height: 3px;
				background: #0e8fdd;
			}
		}
	}

	// Styles for anchor linking headers

	.content {
		a.anchor-link {
			padding: 0.3rem;
			text-decoration: none;
			opacity: 0;
			fill: #363636;
			background-color: transparent;
		}
	}

	h1 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h2 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h3 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h4 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	a.anchor-link {
		&:after {
			content: none;
		}
	}

	aside.menu {
		padding-bottom: 7.5rem;
	}
}

html.dark-theme {
	body {
		.content {
			details {
				background: #1b2c4f;
				border-left: 4px solid #243c6c;

				.summary-content {
					border-top: 1px solid #243c6c;
				}

				.summary-chevron-up,
				.summary-chevron-down {
					background: #1b2c4f;
				}
			}

			a.anchor-link {
				&:hover {
					background: transparent !important;
				}
			}

			a.anchor-link {
				fill: #fff;
			}
		}
	}


}

@media screen and (max-width: 1023px) {
	.documentation {
		.content {
			h1 {
				font-size: 6.333vw;
			}

			h2 {
				font-size: 5vw;
			}

			h3 {
				font-size: 3.33vw;
			}
		}
	}
}

// fixing https://github.com/fermyon/developer/issues/54 temporarily

.content pre {
	max-width: 800px;
}

.search-button-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-button {
	border-radius: 0.667rem;
	border: 1px solid #a8a8a8;
	color: #345995;
	padding: 0.8rem;
	background-color: transparent;
	z-index: 9;
	cursor: grab;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-icon {
	color: #a8a8a8;
	font-size: 0.7rem;
}

.search-placeholder {
	padding: 0 1rem 0 1rem;
	font-weight: 600;
	font-size: 0.8rem;
}

.search-command {
	background-color: #e9e1eb;
	color: #345995;
	padding: .25em .5em .25em;
	font-size: 0.7rem;
	border-radius: 0.667rem;
}

html.dark-theme {
	.search-button {
		border: 1px solid #a8a8a8;
		color: white;
	}

	.search-command {
		background-color: #213762;
		color: #ece5ee;
	}

	.modal-wrapper {
		background-color: #00000040;
	}

	.modal-box {
		background: #0d203f;
	}

	input[type="text"].modal-search-bar {
		background-color: #213762;
		color: white;

		&::placeholder {
			color: #989898;
		}
	}

	.result-block {
		background-color: #213762;

		a {
			color: #fff;
		}

		code {
			background-color: #0d203f;
		}
	}

	.result-subitem {
		background-color: #0d203f;
	}

	.result-subheading-container {
		a {
			color: #34e8bd;
		}
	}

	.result-section-container {
		.result-filters {

			code {
				color: #da1039;
				background-color: #99919b;
			}

			code.active {
				background-color: #e9e1eb;
			}
		}

		.suggested-project {
			background-color: #213762;

			.project-title {
				color: #fff;
			}

			.suggested-project-link {
				background-color: #0d203f;
				color: #34e8bd;
			}
		}
	}

}

.search-modal-container {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(6px);
	background-color: #00000080;
}

.modal-box {
	width: 80%;
	height: 80%;
	max-width: 600px;
	max-height: 700px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e9e1eb;
	border-radius: 0.667rem;
}

.modal-search-bar {
	box-sizing: border-box;
	line-height: 1.5rem;
	width: 100%;
	padding: 0.8rem;
	font-size: 1.2rem;
	border-radius: 0.667rem;
	border: 0px;
	margin-bottom: 1rem;

	&:focus {
		outline: none;
	}
}

.result-section-container {
	width: 100%;
	flex-grow: 1;
	display: flex;
	overflow-y: auto;
	flex-direction: column;

	.suggested-project {
		justify-content: center;
		align-items: center;
		padding: 0.6rem;
		border-radius: 0.667rem;
		margin: 0.2rem;
		background-color: #f3f3f3;
		color: black;
		display: flex;
		flex-direction: column;

		.project-title {
			padding: 0.5em;
			font-weight: 600;
		}

		.recommended-navs {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-evenly;
		}

		.suggested-project-link {
			width: 45%;
			background-color: white;
			font-size: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow-y: auto;
			border-radius: 0.667rem;
			padding: 1rem;
			margin-bottom: 0.4rem;
			font-weight: 400;
			color: #345995;
		}
	}

	.result-section {
		width: 100%;
		flex-grow: 1;
		overflow-y: auto;
		border-radius: 0.667rem;

		&::-webkit-scrollbar {
			width: 0px;
		}
	}

	.result-filters {
		display: flex;
		justify-content: space-between;
		padding: 0 0.4rem 0.4rem 0.4rem;
		align-items: center;
		cursor: grab;

		.filter-categories {
			max-width: 80%;
		}

		.reset-filter {
			font-size: 0.8rem;
		}

		code {
			background-color: #4d407f90;
			color: whitesmoke;
			font-size: 0.8rem;
			margin-left: 0.5rem;
			border-radius: 0.667rem;
		}

		code.active {
			background-color: #0d203f;
			color: white;
		}
	}
}

.result-block {
	padding: 0.6rem;
	border-radius: 0.667rem;
	margin: 0.2rem;
	background-color: #f3f3f3;
	color: black;
	display: flex;
	flex-direction: column;

	a {
		color: #363636;
	}

	code {
		background-color: #e9e1eb;
		font-size: 0.8rem;
		margin-left: 0.5rem;
		border-radius: 0.667rem;
	}
}

.result-subheading-container {
	padding: 1rem;

	a {
		color: #345995;
	}
}

.result-subitem {
	background-color: white;
	font-size: 1rem;
	display: flex;
	align-items: center;
	overflow-y: auto;
	border-radius: 0.667rem;
	margin-bottom: 0.4rem;
}

.result-item-icon {
	font-size: 1.5rem;
	padding: 0.4rem;
}