/* FERMYON SHINY VENEER
=======================
For the benefit of browser-based experiences, websites and application user 
interfaces. This Sass file should be compiled to a CSS stylesheet and served 
after a base framework such as Bulma, Bootstrap or similar base grid system.

to generate to css:
https://sass-lang.com/install 

then run:
sass --watch static/sass/styles.scss static/css/style.css --style compressed


TABLE OF CONTENTS
================= */
@import "../../node_modules/@fermyon/styleguide/scss/fermyon";
/* 
    npm package 'fermyon-styleguide':
    =================================
    0.1. Brand Colors
    0.2. Variables and Mixins
    0.3. Global Layout
    0.4. Typography
    0.5. Responsive Media Queries

	1.1 Styleguide Refresh
	1.2. Developer Styles
================= */

/* Styleguide Refresh
Importing color and theme updates for the brand 1.5 refresh
(these will be ported over to fermyon/styleguide for centralized  housekeeping)
*/

// theme layers
@import "developer-color";
@import "developer-color-light";
@import "developer-color-dark";
// content layers + templates
@import "developer-content-home";
@import "developer-include-sidebar";
@import "developer-include-topbar";
@import "developer-include-search";
@import "developer-include-footer";
@import "developer-include-feedback";
@import "example-card";
// device adjustments
@import "developer-responsive";


/* 1.2 Developer Styles
*/
.documentation {
	article.content-docs {
		section#type {

			img {
				margin-top: 1.333em;
				margin-bottom: 1.333em;
				background: rgb(168, 124, 230);
				background: linear-gradient(50deg, rgba(168, 124, 230, 1) 0%, rgba(230, 210, 241, 1) 100%);
				padding: 0.3rem;
				border-radius: 0.75rem;
				box-shadow: 0 0 67px rgba(25, 25, 25, 0.5);
			}
		}
	}

	.content {
		padding-top: 3.333rem;
		margin-bottom: 0 !important;
		position: relative;
		z-index: 555;

		.archived-notice {
			width: 100%;
			background-color: red;
			border-radius: 0.667rem;
			padding: 1rem;
			font-size: 1rem;
			background-color: $thistle;
			margin-bottom: 4rem;
		}

		h4 {
			margin: 1.3333em 0 0.6666em 0;
		}

		section {
			margin-left: auto !important;
			margin-right: auto !important;


			// toc
			h1:first-of-type+ul {
				max-height: 65vh;
				overflow-y: auto;
				min-width: 15vw;
				display: inline-block;
				background: $lightlavender;
				padding: 0.5rem 1rem 0.725rem;
				border-radius: 0.333rem;
				list-style: none;
				line-height: 1;
				z-index: 999;
				@include transition;

				&:before {
					content: "Contents:";
					display: inline-block;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					font-size: 0.75rem;
					color: #7a7a7a;
					width: 100%;
					line-height: 2;
					padding: 0rem 0 0.5rem;
				}

				li {
					list-style: none;
					margin: 0.05rem 0;
					padding: 0;
					line-height: 1;

					a {
						border-left: 4px solid rgba(125, 125, 125, 0.125);
						border-radius: 1px;
						margin: 0;
						padding: 0.25rem 0 0.25rem 0.5rem;
						line-height: 1.5;
						display: inline-block;
						color: darken($bluedark, 7.5%);
						@include transition;

						&:hover {
							background-color: transparent;
							border-bottom: none;
							border-left: 4px solid $lavender;

							&:after {
								display: none;
							}
						}
					}

					ul {
						margin: 0;
					}
				}
			}

			blockquote p {
				font-size: 1rem !important;
				margin: 1.67rem auto 2.67rem !important;
				border-radius: 0.5rem;
				background-color: lighten($thistle, 5%);
				color: darken($bluedark, 7.5%);
				line-height: 1.725;
			}

			table {
				th {
					background-color: rgba($lightlavender, 1);
				}

				th,
				td {
					padding: 0.67rem 0.5rem;
					font-size: 0.825rem;
				}

				code {
					display: inline-block;
					margin: 0 !important;
					font-size: 0.825rem;
					padding: 0.1rem 0.2rem;
					background-color: rgba($lightlavender, 0.5);
				}
			}

			@media screen and (min-width: 1661px) {
				h1:first-of-type+ul {
					position: fixed;
					top: 86px;
					right: 90px;
					width: 15vw;
					background-color: lighten($thistle, 5%);
					padding: 0.825rem 1rem;
					border-radius: 0.333rem;
					z-index: 999;
				}
			}

			@media screen and (max-width: 1661px) {
				h1:first-of-type+ul {
					display: none;
				}
			}
		}

		&.content-docs {
			section {
				max-width: 880px !important;
			}
		}

		h1 {
			margin-top: 2rem;
			position: relative;
			padding-bottom: 2.67rem;
			font-family: $spaceGro;
		}

		h2 {
			line-height: 1.5;
			font-family: $spaceGro;
		}

		&.content-docs-wide {
			p {
				line-height: 1.725;
			}
		}

		pre {
			// max-width: 800px;
			padding: 0 !important;

			code {
				padding: 1.125em 3.875rem 1.25rem 1.25rem !important;

				.hljs-comment {
					color: #bbb !important;
				}
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $spaceGro;

			code {
				font-size: 0.95em !important;
				font-weight: 600;
				font-family: $mono;
			}
		}

		details {
			font-size: 1rem;
			width: 100%;
			background: #f4f0f5;
			border-left: 4px solid #d9dbe8;
			position: relative;
			max-width: 800px;

			.summary-title {
				user-select: none;
			}

			&:hover {
				cursor: pointer;
			}

			.summary-content {
				border-top: 1px solid #e2e8f0;
				cursor: default;
				padding: 1em;
				font-weight: 300;
				line-height: 1.5;
			}

			summary {
				list-style: none;
				padding: 1em;

				&:focus {
					outline: none;
				}

				&:hover .summary-chevron-up svg {
					opacity: 1;
				}
			}

			.summary-chevron-up svg {
				opacity: 0.5;
			}

			.summary-chevron-up,
			.summary-chevron-down {
				pointer-events: none;
				position: absolute;
				top: 0.75em;
				right: 1em;
				background: #f4f0f5;

				svg {
					display: block;
				}
			}

			summary::-webkit-details-marker {
				display: none;
			}
		}

		.note {
			background: lighten($lavender, 12.5%);
			color: $oxfordblue;
			border-radius: 0.333rem;
			margin: 5rem 0 3rem;
			box-shadow: 0.333rem 0.333rem 0 $lavender;
			position: relative;
			max-width: 800px;

			h4 {
				font-size: 1.25rem;
				color: $oxfordblue;
				margin-top: 0;
			}

			p:last-of-type {
				margin-bottom: 0;
				padding-right: 0;
			}

			.button {
				// position: absolute;
				// right: 3.3rem;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// Styles for the copy button on code blocks

	.copy-code-button {
		position: absolute;
		top: 0.7rem;
		right: 0.7rem;
		border-radius: 0.7rem;
		padding: 0.2rem 0.35rem;
		cursor: pointer;
		background: darken($darkspace, 5%);
		border: none;
		@include transition;

		>svg {
			fill: #ededed99;
		}

		&:hover {
			background: $darkspace;
		}
	}

	.copy-code-button.is-success {
		border-color: #18d1a5;
	}

	// Styles for anchor linking headers

	.content {
		a.anchor-link {
			padding: 0.3rem;
			text-decoration: none;
			opacity: 0;
			fill: #363636;
			background-color: transparent;
		}
	}

	h1 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h2 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h3 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	h4 {
		&:hover {
			>a.anchor-link {
				opacity: 1;
			}
		}
	}

	a.anchor-link {
		&:after {
			content: none;
		}
	}

	aside.menu {
		padding-bottom: 7.5rem;
	}

	.multitab-content-wrapper {
		position: relative;
		padding-top: 4.55rem;
		animation: 0.5s ease-out 0s 1 opacityOnAppear;

		div.tabs {
			position: absolute;
			top: 0;
		}

		.multitab-content {
			max-width: 800px;
			padding: 0.67rem 1.25rem;
			background-color: $lightlavender;
			border-radius: 0.33em;

			pre:last-of-type {
				margin-bottom: 1rem !important;
				margin-top: 0.5rem !important;
			}
		}
	}

	.tabs {
		margin-bottom: 0;

		ul {
			margin-bottom: 0;
			border: none;

			li {
				margin: 0;
				padding: 0;
			}
		}

		&.is-boxed {
			margin-bottom: -8px;

			a {
				border: none;
				padding: .5em 1.2em 18px;
				color: lighten($darkplum, 12.5%);
				border-radius: 0.25rem 0.25rem 0 0;
				transition: color ease-in-out 0.3s;

				&:hover {
					color: $oxfordblue;
					background: transparent !important;
				}

				&.is-active {
					background-color: $lightlavender;
					color: $oxfordblue;

					&:hover {
						background-color: $lightlavender !important;
					}
				}
			}
		}
	}
}

/* klaro cookie consent banner
https://github.com/kiprotect/klaro */
.klaro {
	.cookie-notice:not(.cookie-modal-notice) {
		background-color: $oxforddark !important;
		min-width: 100% !important;
		padding: 1.5rem 5rem !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		min-height: 10.5rem;

		.cn-body {
			p {
				font-size: 1.125rem;
				color: white;
				float: left;
				margin: 1.5rem 0 2rem;
				max-width: 48rem;

				strong {
					color: white !important;
				}

				a {
					color: $seagreen !important;
				}
			}

			.cn-learn-more {
				position: absolute;
				left: 6rem !important;
				bottom: 1.67rem !important;
				color: $seagreen;
			}

			.cn-buttons {
				button {
					border-radius: 2rem !important;
					font-size: 1rem !important;
					padding: 0.5rem 1.5rem !important;
					font-family: $spaceGro;
					font-weight: 400;
					@include button;
					color: white;

					&.cm-btn.cm-btn-success {
						background-color: $seagreen !important;
						color: $oxforddark !important;
					}

					&.cn-decline {
						background-color: transparent;
						color: white !important;
						border: 1px solid white;
					}
				}
			}
		}
	}

	.cookie-modal .cm-modal .cm-header h1 {
		color: white;
	}
}


@media print {

	.cc-revoke,
	.cc-window {
		display: none
	}
}

@media screen and (max-width:900px) {
	.cc-btn {
		white-space: normal
	}
}

@media screen and (max-width:414px) and (orientation:portrait),
screen and (max-width:736px) and (orientation:landscape) {
	.cc-window.cc-top {
		top: 0
	}

	.cc-window.cc-bottom {
		bottom: 0
	}

	.cc-window.cc-banner,
	.cc-window.cc-floating,
	.cc-window.cc-left,
	.cc-window.cc-right {
		left: 0;
		right: 0
	}

	.cc-window.cc-banner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.cc-window.cc-banner .cc-compliance {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto
	}

	.cc-window.cc-floating {
		max-width: none
	}

	.cc-window .cc-message {
		margin-bottom: 1em
	}

	.cc-window.cc-banner {
		-webkit-box-align: unset;
		-ms-flex-align: unset;
		align-items: unset
	}

	.cc-window.cc-banner .cc-message {
		margin-right: 0
	}
}

.cc-floating.cc-theme-classic {
	padding: 1.2em;
	border-radius: 5px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
	text-align: center;
	display: inline;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none
}

.cc-theme-classic .cc-btn {
	border-radius: 5px
}

.cc-theme-classic .cc-btn:last-child {
	min-width: 140px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
	display: inline-block
}

.cc-theme-edgeless.cc-window {
	padding: 0
}

.cc-floating.cc-theme-edgeless .cc-message {
	margin: 2em;
	margin-bottom: 1.5em
}

.cc-banner.cc-theme-edgeless .cc-btn {
	margin: 0;
	padding: .8em 1.8em;
	height: 100%
}

.cc-banner.cc-theme-edgeless .cc-message {
	margin-left: 1em
}

.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn {
	margin-left: 0
}

.menu-wrap+article.content.changelog-wrapper {
	padding-left: 0.75rem !important;
}

.changelog {
	&-wrapper {
		width: 100%;
		max-width: 1200px;
		padding: 3rem 0.75rem !important;
	}

	&-header {
		position: relative;
		padding-bottom: 5rem;
	}

	&-select-box {
		height: 40px;
		overflow-y: auto;
		width: 200px;
		margin: 5rem 0rem 2rem 0rem;
		padding: 0.4rem;
		outline: none;
		border-radius: 0.33rem;
		background-color: $lightlavender;
		color: $midblue;

		option {
			overflow-y: scroll;
		}
	}

	&-animation {
		.terminal {
			width: 100%;
			height: 10rem;
			background: black;
			border-radius: 0.67rem 0.67rem 0.33rem 0.33rem;
			margin: 8.25rem auto 0;
			overflow-wrap: break-word;

			.control {
				width: 100%;
				height: 1rem;
				background-color: white;
				border-radius: 0.33rem 0.33rem 0 0;
				display: flex;
				align-items: center;
				padding-left: 0.5rem;

				.circle {
					display: inline-block;
					height: 10px;
					width: 10px;
					border-radius: 100%;
					background: #f96256;
					margin-right: 0.4rem;

					&:nth-child(2) {
						background-color: #fdbc3d;
					}

					&:nth-child(3) {
						background-color: #33c948;
					}
				}
			}

			.prompts {
				padding: 0.75rem 1.5rem;
				color: $lightlavender;
				font-size: 0.925rem;
				line-height: 1.6;

				.prompt-sign {
					color: $lavender;
				}
			}
		}
	}

	&-content {
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: 3rem;
			border-left: 2px solid $lavender;
			height: calc(100% - 8rem);
		}

		.columns {
			margin: 0;
		}
	}

	&-item {
		&-title {
			padding: 2rem 2rem 2rem 2.5rem;
			position: sticky;
			top: 6.75rem;
			align-self: flex-start;

			&::before {
				content: "";
				position: absolute;
				height: 1rem;
				width: 1rem;
				padding: 0.2rem;
				border-radius: 50%;
				background-color: $lavender;
				left: -0.45rem;
				top: 2.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
			}

			h3 {
				a {
					color: darken($oxfordblue, 10%);

					&:hover {
						&:after {
							display: none;
						}

					}
				}
			}
		}

		&-date {
			font-size: 1rem;
			letter-spacing: 0.05rem;
			color: $oxfordblue;
			margin: 0 0 1rem;
		}

		&-tags {
			span {
				font-size: 0.8rem;
				border-radius: 0.337rem;
				padding: 0.2rem 0.5rem;
				border-radius: 2rem;
				background: rgba(150, 150, 150, 0.1);
				letter-spacing: 0.07rem;
				text-transform: uppercase;
				display: inline-block;
				margin: 0.1rem 0.1rem 0.1rem 0;
			}
		}

		&-content-summary {
			padding-top: 1rem;
			margin-bottom: 3rem;

			hr {
				width: 80%;
				margin: auto;
				background-color: $lavender;
			}
		}
	}

	.back-arrow {
		// margin-top: 3rem;
		// text-align: right;
		font-size: 0.825rem;
		margin-bottom: 1.333rem;
	}
}

html.dark-theme {
	.documentation {
		.content {
			.archived-notice {
				background-color: $midblue;
			}
		}
	}

	.changelog {

		section {
			position: relative;
		}

		&-select-box {
			background-color: $midblue;
			color: $lightlavender;
		}

		&-item {
			&-title {

				h3.heading-anchor a {
					color: white !important;
				}
			}

			&-date {
				color: lighten($midblue, 22.5%);
			}

			&-tags {
				span {
					background-color: $midblue;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.documentation {
		.developer-home-wrap {
			.content.content-docs.content-docs-wide {
				h1 {
					font-size: 1.75rem;
				}

				p.lead {
					font-size: 1.25rem;
					padding: 0 !important;
				}
			}
		}

		.changelog {
			&-header {
				h1 {
					margin: 0 0 1.5rem !important;
					padding-bottom: 0.5rem !important;
				}

				padding-bottom: 2rem;
			}

			&-content {
				padding-left: 3rem !important;

				&:before {
					height: calc(100% - 6rem);
					left: 1.425rem;
				}
			}

			&-wrapper {
				padding: 4.5rem 4vw 2rem !important;
				max-width: 92vw !important;

				h1 {
					margin-bottom: 1.25rem;
					padding-bottom: 1rem !important;
				}

				.back-arrow {
					position: relative;
					left: auto;
					margin: 15px 0 0 0;
				}

				.changelog-item-title {
					position: relative !important;
					top: auto !important;
					padding: 2rem 0 !important;
					margin-top: -1.333rem;

					h3 {
						font-size: 1.33rem;
					}

					&::before {
						left: -2rem;
					}
				}
			}
		}
	}
}

@keyframes opacityOnAppear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}