
<div class="accordion-tabs">
    <div class="accordion-menu-item">
  <input type="checkbox" id="rd0" name="rd">
  <label for="rd0" class="accordion-menu-item-label menu-label">
    Quick Start - Create Your First App With Spin
  </label>
  <ul class="menu-list accordion-menu-item-content">
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd1" name="rd">
  <label for="rd1" class="accordion-menu-item-label menu-label">
    Wasm Language Guides
  </label>
  <ul class="menu-list accordion-menu-item-content">
        <li><a href="#" class="accordion-link">Language Support Overview</a></li>
        <li><a href="#" class="accordion-link">Rust</a></li>
        <li><a href="#" class="accordion-link">Go</a></li>
        <li><a href="#" class="accordion-link">Javascript</a></li>
        <li><a href="#" class="accordion-link">Python</a></li>
        <li><a href="#" class="accordion-link">Other Languages</a></li>
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd2" name="rd">
  <label for="rd2" class="accordion-menu-item-label menu-label">
    Creating Apps With Spin
  </label>
  <ul class="menu-list accordion-menu-item-content">
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd3" name="rd">
      <label for="rd3" class="accordion-menu-item-label menu-label">
        Get Started
      </label>
      <ul class="menu-list accordion-menu-item-content">
            <li><a href="#" class="accordion-link">Introduction</a></li>
            <li><a href="#" class="accordion-link">Install</a></li>
            <li><a href="#" class="accordion-link">Upgrade</a></li>
            <li><a href="#" class="accordion-link">Resources (Discord link etc.)</a></li>
      </ul>
    </div>
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd4" name="rd">
      <label for="rd4" class="accordion-menu-item-label menu-label">
        Concepts
      </label>
      <ul class="menu-list accordion-menu-item-content">
            <li><a href="#" class="accordion-link">Learn About Spin App Fundamentals - Trigger, Components, and Application Manifest</a></li>
            <li><a href="#" class="accordion-link">Learn About Spin Internal Data Layout</a></li>
            <li><a href="#" class="accordion-link">Learn About Spin App Swappable Resources - Runtime configuration</a></li>
      </ul>
    </div>
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd5" name="rd">
      <label for="rd5" class="accordion-menu-item-label menu-label">
        How To
      </label>
      <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
          <input type="checkbox" id="rd6" name="rd">
          <label for="rd6" class="accordion-menu-item-label menu-label">
            Applications
          </label>
          <ul class="menu-list accordion-menu-item-content">
                <li><a href="#" class="accordion-link">Writing Applications</a></li>
                <li><a href="#" class="accordion-link">Structuring Applications</a></li>
                <li><a href="#" class="accordion-link">Compiling Applications</a></li>
                <li><a href="#" class="accordion-link">Running Applications</a></li>
                <li><a href="#" class="accordion-link">Publishing and Distribution</a></li>
                <li><a href="#" class="accordion-link">Observing Applications</a></li>
                <li><a href="#" class="accordion-link">Troubleshooting Application Development</a></li>
          </ul>
        </div>
        <div class="accordion-menu-item">
          <input type="checkbox" id="rd7" name="rd">
          <label for="rd7" class="accordion-menu-item-label menu-label">
            Triggers
          </label>
          <ul class="menu-list accordion-menu-item-content">
                <li><a href="#" class="accordion-link">Triggers</a></li>
                <li><a href="#" class="accordion-link">The HTTP Trigger</a></li>
                <li><a href="#" class="accordion-link">The Redis Trigger</a></li>
                <li><a href="#" class="accordion-link">Building Custom Triggers - Extending and Embedding Spin</a></li>
          </ul>
        </div>
        <div class="accordion-menu-item">
          <input type="checkbox" id="rd8" name="rd">
          <label for="rd8" class="accordion-menu-item-label menu-label">
            API Guides
          </label>
          <ul class="menu-list accordion-menu-item-content">
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd9" name="rd">
              <label for="rd9" class="accordion-menu-item-label menu-label">
                API Support Overview
              </label>
              <ul class="menu-list accordion-menu-item-content">
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd10" name="rd">
              <label for="rd10" class="accordion-menu-item-label menu-label">
                Storage
              </label>
              <ul class="menu-list accordion-menu-item-content">
                    <li><a href="#" class="accordion-link">Key Value Store</a></li>
                    <li><a href="#" class="accordion-link">SQLite Storage</a></li>
                    <li><a href="#" class="accordion-link">Redis Storage</a></li>
                    <li><a href="#" class="accordion-link">Relational Database Storage</a></li>
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd11" name="rd">
              <label for="rd11" class="accordion-menu-item-label menu-label">
                Outbound connectivity
              </label>
              <ul class="menu-list accordion-menu-item-content">
                    <li><a href="#" class="accordion-link">Making HTTP Requests</a></li>
                    <li><a href="#" class="accordion-link">MQTT Messaging</a></li>
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd12" name="rd">
              <label for="rd12" class="accordion-menu-item-label menu-label">
                Serverless AI
              </label>
              <ul class="menu-list accordion-menu-item-content">
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd13" name="rd">
              <label for="rd13" class="accordion-menu-item-label menu-label">
                Application Variables
              </label>
              <ul class="menu-list accordion-menu-item-content">
              </ul>
            </div>
          </ul>
        </div>
        <div class="accordion-menu-item">
          <input type="checkbox" id="rd9" name="rd">
          <label for="rd9" class="accordion-menu-item-label menu-label">
            Tools
          </label>
          <ul class="menu-list accordion-menu-item-content">
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd10" name="rd">
              <label for="rd10" class="accordion-menu-item-label menu-label">
                Templates
              </label>
              <ul class="menu-list accordion-menu-item-content">
                    <li><a href="#" class="accordion-link">Creating Spin Templates</a></li>
                    <li><a href="#" class="accordion-link">Managing Templates</a></li>
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd11" name="rd">
              <label for="rd11" class="accordion-menu-item-label menu-label">
                Plugins
              </label>
              <ul class="menu-list accordion-menu-item-content">
                    <li><a href="#" class="accordion-link">Creating Spin Plugins</a></li>
                    <li><a href="#" class="accordion-link">Managing Plugins</a></li>
              </ul>
            </div>
            <div class="accordion-menu-item">
              <input type="checkbox" id="rd12" name="rd">
              <label for="rd12" class="accordion-menu-item-label menu-label">
                Triggers
              </label>
              <ul class="menu-list accordion-menu-item-content">
              </ul>
            </div>
          </ul>
        </div>
      </ul>
    </div>
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd6" name="rd">
      <label for="rd6" class="accordion-menu-item-label menu-label">
        Tutorials
      </label>
      <ul class="menu-list accordion-menu-item-content">
            <li><a href="#" class="accordion-link">Build Your First Serverless AI App</a></li>
            <li><a href="#" class="accordion-link">Sentiment Analysis With Serverless AI</a></li>
            <li><a href="#" class="accordion-link">Building a URL Shortener With Spin</a></li>
            <li><a href="#" class="accordion-link">Spin Apps in Registries</a></li>
            <li><a href="#" class="accordion-link">Spin Key-Value Store</a></li>
      </ul>
    </div>
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd3" name="rd">
  <label for="rd3" class="accordion-menu-item-label menu-label">
    Deploying your Spin App
  </label>
  <ul class="menu-list accordion-menu-item-content">
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd4" name="rd">
      <label for="rd4" class="accordion-menu-item-label menu-label">
        Fermyon Cloud
      </label>
      <ul class="menu-list accordion-menu-item-content">
            <li><a href="#" class="accordion-link">Quickstart</a></li>
            <li><a href="#" class="accordion-link">Introduction</a></li>
            <li><a href="#" class="accordion-link">{'Applications': ['Develop a Spin Application', 'Deploy an Application', 'Upgrade an Application', 'Delete an Application'], 'Concepts': ['The Fermyon Cloud', 'Deployment Concepts', 'Custom Domain', 'Linking Apps To Resources Using Labels'], 'Tutorials': ['Using VS Code Extension', 'Cloud Key-Value Store', 'Persisting Data With SQLite Database', 'Persisting Data With Redis', 'Persisting Data With PostgreSQL', 'Deploying Spin Apps Using GitHub Action', 'Apply Custom Fermyon Subdomain', 'Apply Custom Domain', 'Configuring App Variables and Secrets'], 'Support': ['The User Settings Screen', 'Quotas, Limitations, and Technical FAQ', 'Pricing and Billing', 'How to Get Help?']}</a></li>
      </ul>
    </div>
    <div class="accordion-menu-item">
      <input type="checkbox" id="rd5" name="rd">
      <label for="rd5" class="accordion-menu-item-label menu-label">
        Fermyon Platform For Kubernetes
      </label>
      <ul class="menu-list accordion-menu-item-content">
            <li><a href="#" class="accordion-link">Kubernetes</a></li>
            <li><a href="#" class="accordion-link">Spin on Kubernetes</a></li>
            <li><a href="#" class="accordion-link">Spin in Pods (Legacy)</a></li>
      </ul>
    </div>
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd4" name="rd">
  <label for="rd4" class="accordion-menu-item-label menu-label">
    References
  </label>
  <ul class="menu-list accordion-menu-item-content">
        <li><a href="#" class="accordion-link">CLI Reference</a></li>
        <li><a href="#" class="accordion-link">Application Manifest (Version 1) Reference</a></li>
        <li><a href="#" class="accordion-link">Application Manifest Reference</a></li>
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd5" name="rd">
  <label for="rd5" class="accordion-menu-item-label menu-label">
    Contributing
  </label>
  <ul class="menu-list accordion-menu-item-content">
        <li><a href="#" class="accordion-link">Contributing to Docs</a></li>
        <li><a href="#" class="accordion-link">Contributing to Spin</a></li>
        <li><a href="#" class="accordion-link">Spin Improvement Proposals</a></li>
        <li><a href="#" class="accordion-link">Contributing to SpinKube</a></li>
  </ul>
</div>
<div class="accordion-menu-item">
  <input type="checkbox" id="rd6" name="rd">
  <label for="rd6" class="accordion-menu-item-label menu-label">
    Resources
  </label>
  <ul class="menu-list accordion-menu-item-content">
  </ul>
</div>

</div>
