
<ul id="myUL">
    <li><span class="caret">Quick Start - Create Your First App With Spin</span>
<ul class="nested">
</ul>
</li>
<li><span class="caret">Wasm Language Guides</span>
<ul class="nested">
    <li>{{#link "#}}Language Support Overview{{/link}}</li>
    <li>{{#link "#}}Rust{{/link}}</li>
    <li>{{#link "#}}Go{{/link}}</li>
    <li>{{#link "#}}Javascript{{/link}}</li>
    <li>{{#link "#}}Python{{/link}}</li>
    <li>{{#link "#}}Other Languages{{/link}}</li>
</ul>
</li>
<li><span class="caret">Creating Apps With Spin</span>
<ul class="nested">
    <li><span class="caret">Get Started</span>
    <ul class="nested">
        <li>{{#link "#}}Introduction{{/link}}</li>
        <li>{{#link "#}}Install{{/link}}</li>
        <li>{{#link "#}}Upgrade{{/link}}</li>
        <li>{{#link "#}}Resources (Discord link etc.){{/link}}</li>
    </ul>
    </li>
    <li><span class="caret">Concepts</span>
    <ul class="nested">
        <li>{{#link "#}}Learn About Spin App Fundamentals - Trigger, Components, and Application Manifest{{/link}}</li>
        <li>{{#link "#}}Learn About Spin Internal Data Layout{{/link}}</li>
        <li>{{#link "#}}Learn About Spin App Swappable Resources - Runtime configuration{{/link}}</li>
    </ul>
    </li>
    <li><span class="caret">How To</span>
    <ul class="nested">
        <li><span class="caret">Applications</span>
        <ul class="nested">
            <li>{{#link "#}}Writing Applications{{/link}}</li>
            <li>{{#link "#}}Structuring Applications{{/link}}</li>
            <li>{{#link "#}}Compiling Applications{{/link}}</li>
            <li>{{#link "#}}Running Applications{{/link}}</li>
            <li>{{#link "#}}Publishing and Distribution{{/link}}</li>
            <li>{{#link "#}}Observing Applications{{/link}}</li>
            <li>{{#link "#}}Troubleshooting Application Development{{/link}}</li>
        </ul>
        </li>
        <li><span class="caret">Triggers</span>
        <ul class="nested">
            <li>{{#link "#}}Triggers{{/link}}</li>
            <li>{{#link "#}}The HTTP Trigger{{/link}}</li>
            <li>{{#link "#}}The Redis Trigger{{/link}}</li>
            <li>{{#link "#}}Building Custom Triggers - Extending and Embedding Spin{{/link}}</li>
        </ul>
        </li>
        <li><span class="caret">API Guides</span>
        <ul class="nested">
            <li><span class="caret">API Support Overview</span>
            <ul class="nested">
            </ul>
            </li>
            <li><span class="caret">Storage</span>
            <ul class="nested">
                <li>{{#link "#}}Key Value Store{{/link}}</li>
                <li>{{#link "#}}SQLite Storage{{/link}}</li>
                <li>{{#link "#}}Redis Storage{{/link}}</li>
                <li>{{#link "#}}Relational Database Storage{{/link}}</li>
            </ul>
            </li>
            <li><span class="caret">Outbound connectivity</span>
            <ul class="nested">
                <li>{{#link "#}}Making HTTP Requests{{/link}}</li>
                <li>{{#link "#}}MQTT Messaging{{/link}}</li>
            </ul>
            </li>
            <li><span class="caret">Serverless AI</span>
            <ul class="nested">
            </ul>
            </li>
            <li><span class="caret">Application Variables</span>
            <ul class="nested">
            </ul>
            </li>
        </ul>
        </li>
        <li><span class="caret">Tools</span>
        <ul class="nested">
            <li><span class="caret">Templates</span>
            <ul class="nested">
                <li>{{#link "#}}Creating Spin Templates{{/link}}</li>
                <li>{{#link "#}}Managing Templates{{/link}}</li>
            </ul>
            </li>
            <li><span class="caret">Plugins</span>
            <ul class="nested">
                <li>{{#link "#}}Creating Spin Plugins{{/link}}</li>
                <li>{{#link "#}}Managing Plugins{{/link}}</li>
            </ul>
            </li>
            <li><span class="caret">Triggers</span>
            <ul class="nested">
            </ul>
            </li>
        </ul>
        </li>
    </ul>
    </li>
    <li><span class="caret">Tutorials</span>
    <ul class="nested">
        <li>{{#link "#}}Build Your First Serverless AI App{{/link}}</li>
        <li>{{#link "#}}Sentiment Analysis With Serverless AI{{/link}}</li>
        <li>{{#link "#}}Building a URL Shortener With Spin{{/link}}</li>
        <li>{{#link "#}}Spin Apps in Registries{{/link}}</li>
        <li>{{#link "#}}Spin Key-Value Store{{/link}}</li>
    </ul>
    </li>
</ul>
</li>
<li><span class="caret">Deploying your Spin App</span>
<ul class="nested">
    <li><span class="caret">Fermyon Cloud</span>
    <ul class="nested">
        <li>{{#link "#}}Quickstart{{/link}}</li>
        <li>{{#link "#}}Introduction{{/link}}</li>
        <li>{{#link "#}}{'Applications': ['Develop a Spin Application', 'Deploy an Application', 'Upgrade an Application', 'Delete an Application'], 'Concepts': ['The Fermyon Cloud', 'Deployment Concepts', 'Custom Domain', 'Linking Apps To Resources Using Labels'], 'Tutorials': ['Using VS Code Extension', 'Cloud Key-Value Store', 'Persisting Data With SQLite Database', 'Persisting Data With Redis', 'Persisting Data With PostgreSQL', 'Deploying Spin Apps Using GitHub Action', 'Apply Custom Fermyon Subdomain', 'Apply Custom Domain', 'Configuring App Variables and Secrets'], 'Support': ['The User Settings Screen', 'Quotas, Limitations, and Technical FAQ', 'Pricing and Billing', 'How to Get Help?']}{{/link}}</li>
    </ul>
    </li>
    <li><span class="caret">Fermyon Platform For Kubernetes</span>
    <ul class="nested">
        <li>{{#link "#}}Kubernetes{{/link}}</li>
        <li>{{#link "#}}Spin on Kubernetes{{/link}}</li>
        <li>{{#link "#}}Spin in Pods (Legacy){{/link}}</li>
    </ul>
    </li>
</ul>
</li>
<li><span class="caret">References</span>
<ul class="nested">
    <li>{{#link "#}}CLI Reference{{/link}}</li>
    <li>{{#link "#}}Application Manifest (Version 1) Reference{{/link}}</li>
    <li>{{#link "#}}Application Manifest Reference{{/link}}</li>
</ul>
</li>
<li><span class="caret">Contributing</span>
<ul class="nested">
    <li>{{#link "#}}Contributing to Docs{{/link}}</li>
    <li>{{#link "#}}Contributing to Spin{{/link}}</li>
    <li>{{#link "#}}Spin Improvement Proposals{{/link}}</li>
    <li>{{#link "#}}Contributing to SpinKube{{/link}}</li>
</ul>
</li>
<li><span class="caret">Resources</span>
<ul class="nested">
</ul>
</li>

</ul>
<script>
    var toggler = document.getElementsByClassName("caret");
    for (var i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
