<footer class="footer-links">
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <a class="navbar-item" href="{{site.info.base_url}}/cloud/changelog">Changelog</a>
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <a class="navbar-item" href="https://discord.gg/AAFNfS7NGf" target="_blank">Discord</a>
            <a class="navbar-item" href="https://twitter.com/fermyontech" target="_blank">Twitter</a>
            <a class="navbar-item" href="https://github.com/fermyon/developer" target="_blank">GitHub</a>
        </div>
    </nav>
</footer>