<footer class="footer-links">
    <nav class="level">
        <div class="level-left">
            <a class="navbar-item" href="{{site.info.base_url}}/cloud/changelog">Cloud Changelog</a>
            <a class="navbar-item" href="https://discord.gg/AAFNfS7NGf" target="_blank">Discord</a>
            <a class="navbar-item" href="https://github.com/fermyon/developer" target="_blank">GitHub</a>
            <a class="navbar-item" href="https://twitter.com/fermyontech" target="_blank">Twitter</a>
        </div>
        <div class="level-right">
            <a href="{{site.info.base_url}}/cloud/deploy" class="footer-logo cta-runs-on-fermyon plausible-event-name=docs-cta-runs-on-fermyon"><img src="{{site.info.base_url}}/static/image/fermyon-badge.png" alt="This website runs on Fermyon Cloud" /></a>
        </div>
    </nav>
</footer>