---
read_pages_glob = ["events/*.md"]
---
{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container page-wrap developer-home-wrap">

    <!-- Header Section -->
    <div class="columns is-vcentered mt-5">
      <div class="column">
        <h1 class="hero-title">Run powerful, high performance WebAssembly compute workloads.</h1>
        <p class="subtitle is-6 has-text-grey">Documentation & Tutorials by Project:</p>
      </div>
      {{!-- <div class="column">
        <div class="dev-tips has-text-right">
          <p class="has-text-grey mb-2"><i class="fas fa-lightbulb"></i> DEV TIPS</p>
          <div class="mb-2">
            <span class="keyboard-shortcut">⌘</span>
            <span class="keyboard-shortcut">K</span>
            <span class="has-text-grey">to search</span>
          </div>
          <div>
            <span class="keyboard-shortcut"><i class="fas fa-code"></i> VS Code</span>
            <span class="has-text-grey">extension</span>
          </div>
        </div>
      </div> --}}
    </div>

    <!-- Main Content Area -->
    <div class="main-content projects-wrapper-parent">
      <!-- Start with Spin Section -->
      <div class="mb-6">
        <div class="columns projects-wrapper">
          <div class="column project-category is-one-quarter">
            <aside>
                <p class="section-number">01</p>
                <h2 class="title is-4">Start with Spin</h2>
                <p class="mb-4">Open source developer tools for building WebAssembly apps. Spin and SpinKube are CNCF sandbox projects, built on community standards.</p>
            </aside>
          </div>
          <div class="column projects-column">
            <div class="columns is-6">
              <!-- Spin Card -->
              <div class="column is-one-third">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <div class="card-icon">
                        <i class="fas fa-circle-notch has-text-link"></i>
                      </div>
                      <span>Spin</span>
                    </div>
                  </div>
                  <div class="card-content">
                    <p class="has-text-grey">The easiest way to start building and running Wasm apps. Spin has a full-featured CLI, plugin system, and supports many languages.</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-footer-item has-text-link">
                      spinframework.com <i class="fas fa-arrow-right ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- SpinKube Card -->
              <div class="column is-one-third">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <div class="card-icon purple">
                        <i class="fas fa-cube has-text-purple"></i>
                      </div>
                      <span>SpinKube</span>
                    </div>
                  </div>
                  <div class="card-content">
                    <p class="has-text-grey">Streamlines the process of developing, deploying and operating Spin Wasm app workloads on Kubernetes.</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-footer-item has-text-link">
                      spinkube.dev <i class="fas fa-arrow-right ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Deploy Wasm Compute Section -->
      <div class="projects-wrapper">
        <div class="columns">
          <div class="column is-one-quarter">
            <aside>
                <p class="section-number">02</p>
                <h2 class="title is-4">Deploy Wasm Compute</h2>
                <p>Ship and manage serverless webassembly workloads with Fermyon's products.</p>

                <ul class="mb-4">
                    <li><i class="fas fa-check has-text-success mr-2"></i> powered by Spin</li>
                    <li><i class="fas fa-check has-text-success mr-2"></i> enterprise-ready</li>
                    <li><i class="fas fa-check has-text-success mr-2"></i> secure and scalable</li>
                </ul>
                <a href="#" class="button is-small is-full is-outlined is-link">
                More projects on GitHub <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </aside>
          </div>
          <div class="column projects-column">
            <div class="columns">
              <!-- Cloud Card -->
              <div class="column is-one-third">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <div class="card-icon blue">
                        <i class="fas fa-cloud has-text-info"></i>
                      </div>
                      <span>Cloud</span>
                    </div>
                  </div>
                  <div class="card-content">
                    <p class="has-text-grey">The easiest way to start building and running Wasm apps. Spin has a full-featured CLI, plugin system, and supports many languages.</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-footer-item has-text-link">
                      Cloud Docs <i class="fas fa-arrow-right ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Wasm Functions Card -->
              <div class="column is-one-third">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <span>Wasm Functions</span>
                    </div>
                  </div>
                  <div class="card-content">
                    <p class="has-text-grey">Open source developer tool for composing serverless applications.</p>
                  </div>
                </div>
              </div>
              <!-- Platform for Kubernetes Card -->
              <div class="column is-one-third">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      <span>Platform for Kubernetes</span>
                    </div>
                  </div>
                  <div class="card-content">
                    <p class="has-text-grey">Open source developer tool for composing serverless applications.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- this section is generated from the root content/index.md --> 
    <div>
    {{{page.body}}}
    </div>

    <!-- Connect Section -->
    <div class="mb-6">
      <h2 class="title is-3">Connect</h2>
      <p class="subtitle is-6 mb-5">Where you can follow us as for exciting news and features.</p>
      
      <div class="mt-4">
        <a href="#" class="social-link">Changelog <i class="fas fa-arrow-right"></i></a>
        <a href="#" class="social-link">GitHub <i class="fas fa-arrow-right"></i></a>
        <a href="#" class="social-link">LinkedIn <i class="fas fa-arrow-right"></i></a>
        <a href="#" class="social-link">YouTube <i class="fas fa-arrow-right"></i></a>
      </div>
  </div>


</main>
{{> content_bottom }}

</body>
</html>