---
read_pages_glob = ["events/*.md"]
---
{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container page-wrap developer-home-wrap">

    <!-- Header Section -->
    <div class="columns is-vcentered mt-5">
        <div class="column">
            <h1 class="hero-title is-size-5-touch">Run powerful, high performance WebAssembly compute workloads.</h1>
            <p class="subtitle">Docs by Project:</p>
        </div>
    </div>

    <!-- Main Content Area -->
    <div class="main-content projects-wrapper-parent">
        <!-- Start with Spin Section -->
        <div class="mb-6">
            <div class="columns projects-wrapper">
                <div class="column project-category is-one-third-desktop is-full-touch">
                    <aside>
                        <p class="section-number mono">01</p>
                        <h2 class="title is-4">Build Your Apps</h2>
                        <ul class="list">
                            <li class="list-item">Open Source dev framework</li>
                            <li class="list-item">A CNCF sandbox project</li>
                            <li class="list-item">Built on community standards</li>
                        </ul>
                    </aside>
                </div>
                <div class="column projects-column">
                    <div class="columns is-4">
                        <!-- Spin Card -->
                        <div class="column is-half">
                            <div class="card card-project card-spin">
                                <div class="card-header">
                                    <div class="card-icon">
                                        <img src="/static/image/icon-spin.png" alt="Spin" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2>
                                        Spin
                                        <span class="tag tag-cncf">A CNCF sandbox project.</span>
                                    </h2>
                                    <p>The easiest way to start building and running Wasm apps.
                                        Spin has a
                                        full-featured CLI, plugin system, and supports many languages.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://spinframework.dev/" class="card-footer-item has-text-link">
                                        spinframework.dev <img src="/static/image/arrowexternal.svg" alt="external link" class="external" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Deploy to a managed service section -->
        <div class="projects-wrapper">
            <div class="columns">
                <div class="column project-category is-one-third-desktop is-full-touch">
                    <aside>
                        <p class="section-number mono">02</p>
                        <h2 class="title is-4">Deploy to a Fermyon Managed Service</h2>

                        <ul class="mb-4">
                            <li class="list-item">Powered by <a href="https://spinframework.dev"
                                    target="_blank">Spin</a></li>
                            <li class="list-item">Serverless - infra included</li>
                            <li class="list-item">Secure and scalable</li>
                        </ul>
                    </aside>
                </div>
                <div class="column projects-column">
                    <div class="columns">
                        <!-- Wasm Functions Card -->
                        <div class="column is-half">
                            <div class="card card-project card-functions">
                                <div class="card-header">
                                    <div class="card-icon">
                                        <img src="/static/image/icon-functions.png" alt="Wasm Functions" />
                                    </div>
                                    <span class="tag tag-new">NEW</span>
                                </div>
                                <div class="card-content">
                                    <h2>Wasm Functions</h2>
                                    <p>Fast and powerful engine for hosting serverless functions, running on Akamai Cloud, the distributed cloud platform.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/wasm-functions/index" class="card-footer-item has-text-link">
                                        Wasm Functions Docs <img src="/static/image/arrow-right.png" alt="arrow" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Cloud Card -->
                        <div class="column is-half">
                            <div class="card card-project card-cloud">
                                <div class="card-header">
                                    <div class="card-icon">
                                        <img src="/static/image/icon-cloud.png" alt="Fermyon Cloud" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2>Cloud</h2>
                                    <p>The simple way to deploy and run Spin apps on Fermyon’s hosted service. Offers free and paid levels, depending on request volume.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/cloud/index" class="card-footer-item has-text-link">
                                        Cloud Docs <img src="/static/image/arrow-right.png" alt="arrow" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Deploy to Kubernetes Compute Section -->
            <div class="columns">
                <div class="column project-category is-one-third-desktop is-full-touch">
                    <aside>
                        <p class="section-number mono">03</p>
                        <h2 class="title is-4">Deploy to your Kubernetes cluster</h2>

                        <ul class="mb-4">
                            <li class="list-item">Powered by <a href="https://spinkube.dev"
                                    target="_blank">SpinKube</a></li>
                            <li class="list-item">Runs in your cloud or on-prem</li>
                            <li class="list-item">Highly dense, resource-friendly compute</li>
                        </ul>
                    </aside>
                </div>
                <div class="column projects-column">
                    <div class="columns">
                        <!-- SpinKube Card -->
                        <div class="column is-half">
                            <div class="card card-project card-spinkube">
                                <div class="card-header">
                                    <div class="card-icon">
                                        <img src="/static/image/icon-spinkube.png" alt="SpinKube" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2>
                                        SpinKube
                                        <span class="tag tag-cncf">A CNCF sandbox project.</span>
                                    </h2>
                                    <p>Streamlines the process of developing, deploying and operating Spin Wasm app workloads on Kubernetes.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://www.spinkube.dev/docs/" class="card-footer-item has-text-link">
                                        spinkube.dev <img src="/static/image/arrowexternal.svg" alt="external link" class="external" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Platform for Kubernetes Card -->
                        <div class="column is-half">
                            <div class="card card-project card-platform">
                                <div class="card-header">
                                    <div class="card-icon">
                                        <img src="/static/image/icon-fp4k.png" alt="Platform for Kubernetes" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2>Platform <span class="is-blue">for Kubernetes</span></h2>
                                    <p>Enterprise solution for Wasm workloads in Kubernetes - in your cloud or on-prem. High density, efficient compute.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://www.fermyon.com/platform" class="card-footer-item has-text-link">
                                        Get a Demo <img src="/static/image/arrowexternal.svg" alt="external link" class="external" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="https://github.com/fermyon" class="button project-gh-button is-small is-full is-outlined is-link">
                More projects on GitHub <i class="fas fa-arrow-right ml-2"></i>
            </a>
        </div>
    </div>
</main>

<div class="container is-max-desktop developer-home-narrow">
    <div class="columns">
        <div class="column">

            <!-- this section is generated from the root content/index.md -->
            <div>
                {{{page.body}}}
            </div>

        </div>
    </div>

    <div class="columns is-8 is-multiline is-mobile">
        <div class="column is-two-thirds-desktop is-full-mobile">
            <div class="discord-card">
                <div class="cta-content">
                    <h2 class="cta-title">Community Discord Server</h2>
                    <p class="cta-description">Reach out to our team, discuss our projects and learn about building and shipping Wasm apps.</p>
                    <a href="https://discord.gg/AAFNfS7NGf" class="join-button">
                        Join Server
                        <span class="icon"><img src="/static/image/arrow-right.png" alt="arrow" /></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="column is-one-third-desktop is-full-mobile">
            
            <!-- Social Links -->
            <div class="wasm-lang-card">
                <div class="cta-content">
                    <a>
                        <h2 class="cta-title">WebAssembly Language Support</h2>
                        <p class="cta-description">A guide tracking support for compiling languages to Wasm.</p>
                    </a>
                </div>
            </div>

        </div>

        <!-- Social Links -->
            <div class="pl-1 pr-1 pb-6">
                <h3 class="mt-4">Connect</h3>
                <p class="subtitle mb-5">Where you can follow us for product news, streams and events.</p>
            
                <div class="mt-4">
                    <a href="https://bsky.app/profile/fermyon.com" class="social-link">
                        Bluesky
                        <i class="external"></i>
                    </a>
                    <a href="https://app.daily.dev/sources/fermyon" class="social-link">
                        Daily.dev
                        <i class="external"></i>
                    </a>
                    <a href="https://dev.to/fermyon" class="social-link">
                        Dev.to    
                        <i class="external"></i>
                    </a>
                    <a href="https://discord.gg/AAFNfS7NGf" class="social-link">
                        Discord
                        <i class="external"></i>
                    </a>
                    <a href="https://github.com/fermyon" class="social-link">
                        GitHub
                        <i class="external"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/fermyon/" class="social-link">
                        LinkedIn    
                        <i class="external"></i>
                    </a>
                    <a href="https://www.youtube.com/@fermyontech" class="social-link">
                        YouTube
                        <i class="external"></i>
                    </a>
                    <a href="https://twitter.com/@fermyontech" class="social-link">
                        X
                        <i class="external"></i>
                    </a>
                </div>
            </div>
    </div>
</div>

{{> content_bottom }}

</body>
</html>