{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        <div class="menu-wrap is-narrow is-fixed-desktop" id="docsMenu">
            <aside class="menu">
                {{! This adds the version selector - uncomment after v2 launch }}
                <select class="version-dropdown"
                    onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option value="/spin/v2/index">Spin v2.x</option>
                    <option value="/spin/v1/index" {{#if (active_project request.spin-full-url "/spin/v1/" )}} selected
                        {{/if}}>Spin v1.x</option>
                </select>
                {{#if (active_project request.spin-full-url "/spin/v2/" )}}
                {{> spin_sidebar_v2 }}
                {{else}}
                {{> spin_sidebar }}
                {{/if}}
            </aside>
        </div>

        <article class="column content content-docs content-docs-wide">
            <section id="type">
                {{! This adds an archival notice - needs to styled }}
                {{#if (active_project request.spin-full-url "/spin/v1" )}}
                <div class="archived-notice"> This page refers to an older version of Spin. <a href="/spin">Go to the
                        latest version.</a></div>
                {{/if}}
                <h1 class="blog-post-title border-bottom">{{page.head.title}}</h1>

                {{{page.body}}}

                <div class="note">
                    {{> doc_feedback }}
                </div>

            </section>

            {{> content_footer }}
        </article>

    </div>
    {{> doc_feedback }}
</main>


{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>

</html>